[2015-11-11 15:40] rubensworks opened #1 "Interface block"
New block which can be added anywhere in the multiblock structure and can be used as an additional interface block to pipe items in and out.

[2015-11-11 20:19] rubensworks opened #2 "Multiblock debugging"
Add debug messages to player chat when right clicking on an invalid structure to see why it is invalid.

[2015-11-12 20:51] rubensworks opened #3 "Rename chests in anvil"
Naming a core in the anvil should be able to change the display name in the gui. (IWorldNameable?)

[2015-11-12 20:51] rubensworks opened #4 "Iron Chests integration"
- Blockstate variants, only those of the same type can connect
- Custom textures for each variant, with config option to use those of Iron Chest mod (dependency is only required for this, so we don't even need a build dependency?)
- Recipes based on OreDict keys
- Inventory size calculation also based on variant
- Config option to disable other variants, which just makes them uncraftable

[2015-11-12 21:42] rubensworks opened #5 "Cache getFacingSlots"
This will be necessary for efficiency with chests with a large number of slots when pipes or hoppers interact with it.

[2015-11-13 06:38] rubensworks opened #6 "Chest visibility"
In some viewing positions, the chest becomes invisible.

[2015-11-14 15:31] rubensworks opened #7 "Don't eject inventory when a structure block is removed?"
If you'd want to replace a normal wall block with an interface, you should be able to do so.
It becomes complicated to solve the problem of a different formed structure size when it was broken.
Somehow, the reforming should only eject items when the newly formed structure is smaller than the previous structure size.

[2015-11-15 10:48] #1 closed, assigned to nobody

[2015-11-15 10:48] #5 closed, assigned to nobody

[2015-11-16 17:50] #3 closed, assigned to nobody

[2015-11-17 15:45] rubensworks opened #8 "Multiblock crash when being truly colossal"
For structures of size 64x64x64.
Do some profiling to check this.

[2015-11-18 08:23] rubensworks opened #9 "Tiny Chest"
"The most colossal of them all!"
With a hopper-like inventory.

Could the called the "Uncolossal Chest"?

[2015-11-18 08:24] rubensworks opened #10 "Standardize names"
Currently, the block names are not very consistent.

[2015-11-18 17:31] rubensworks commented on #6
Assumes to be a Minecraft bug, see if this is fixed in 1.8.8

[2015-11-18 17:56] #10 closed, assigned to nobody

[2015-11-19 07:00] rubensworks commented on #7
Add config option to disable this new behaviour.

[2015-11-19 16:23] rubensworks opened #11 "Core remembers too much state when broken"
Size & stuff shouldn't be persisted via NBT into the block

[2015-11-19 18:23] #7 closed, assigned to nobody

[2015-11-19 18:23] #11 closed, assigned to nobody

[2015-11-20 16:49] rubensworks commented on #4
First step done as 350c16cb8aea05770e2fda362e6ad8f0589d3cfa

[2015-11-20 21:20] rubensworks opened #12 "Improved Scrolling Controls"
(For CyclopsMC/CyclopsCore)
Add buttons that allow you to increase/decrease with just one row. Shift clicking on that will move with pages instead.

[2015-11-22 14:17] #4 closed, assigned to nobody

[2015-11-23 19:13] #9 closed, assigned to nobody

[2015-11-25 16:56] rubensworks opened #13 "Chest model texture shadows"
Add shadows to where the chest locks should be

[2015-11-25 16:57] rubensworks opened #14 "Incorrect rotation"
Sometimes the rotation of chests is determined incorrectly

[2015-11-26 18:03] #13 closed, assigned to nobody

[2015-11-27 18:11] #12 closed, assigned to nobody

[2015-11-27 18:11] #14 closed, assigned to nobody

[2015-11-28 18:19] #2 closed, assigned to nobody

[2015-11-29 18:29] #8 closed, assigned to nobody

[2015-11-29 18:33] rubensworks opened #15 "Configurable packet max slots"
Make the maximum number of slots to send per packet configurable.

[2015-12-01 16:37] #15 closed, assigned to nobody

[2015-12-04 19:25] rubensworks opened #16 "Shift click gui arrows"
Shift clicking on arrows should scroll through a complete page at a time.

[2016-01-15 21:45] rubensworks opened #17 "Items can't be placed inside the chests in SMP"
Apparently I didn't test this?

[2016-01-15 22:08] #16 closed, assigned to nobody

[2016-01-17 18:12] rubensworks opened #18 "Wooden chests can only be broken with pickaxe"
Should be axe instead

[2016-01-20 21:43] rubensworks commented on #17
See https://github.com/CyclopsMC/CyclopsCore/issues/9

[2016-01-23 13:18] #18 closed, assigned to nobody

[2016-01-23 15:12] Blue64 commented on #17
Aren't they supposed to be piped in? ~~I noticed it had no GUI.~~

[2016-01-23 15:13] rubensworks commented on #17
They do have a gui, if not, then that is a bug...
They can be piped in as well.

[2016-01-23 15:21] Blue64 commented on #17
~~Ah lol yea, it had no GUI,~~ I was like "how do I put the helmet in?" `XD` By The Way does it need identical items to get the boost, or is it just the same `ModID:Name`? Because if I recall, you are fixing the Damage, and the `{Meta}` parts shouldn't be needing comparison either right? (Just don't delete it's extra Meta lol TiCon uses that info lol)

P. S. I meant that the Collasal `(Blood)` Che

[2016-01-23 15:27] Blue64 commented on #17
P. S. I meant that the Collasal Chest had no GUI.

[2016-01-23 15:29] rubensworks commented on #17
You know this is the Colossal Chests issue tracker right? ;) You are refering to the Colossal Blood Chest (which should have a gui as well btw...)

[2016-01-23 15:31] Blue64 commented on #17
Ah, I just noticed that, my bad lol but yeah, I couldn't get the Collasal Blood Chest to open for me at all. When I launch MC again I'll double check everything.

[2016-01-23 15:56] rubensworks commented on #17
Fixed in CyclopsMC/CyclopsCore@47b6cb350cfdbd7703e5ab6e2a1958689a1d9d6d

[2016-01-23 15:56] #17 closed, assigned to nobody

[2016-01-24 22:54] JonaBrackenwood opened #19 "Colossal Chest Core remembers previous configuration"
I've just broken a 2 by 2 colossal chest, and when I places the Core again to create a new one, a 2 by 2 chest became visible without me having placed those blocks!

I can also access it and use it like a working colossal chest. Relogging doesn't fix it.

![image](https://cloud.githubusercontent.com/assets/1567798/12539533/586c6aae-c2f5-11e5-97d9-514aadcec896.png)

[2016-01-24 22:58] JonaBrackenwood commented on #19
Error visible in chat:
[23:56:31] [Client thread/INFO]: [CHAT] [ColossalChests]: Found dimensions 0x0x0, while a minimum of 1x1x1 was expected.

This only happens when you break the core first before the rest of the multiblock structure.

[2016-01-25 16:39] #19 closed, assigned to nobody

[2016-01-26 11:11] rubensworks commented on #6
Could be related to https://github.com/MinecraftForge/MinecraftForge/issues/2419

[2016-01-31 16:11] JonaBrackenwood opened #20 "Chest direction limited"
The direction the chest faces is limited on which side the controller is placed.
When a controller is placed in a corner it can only face two directions: west or east.

So if you make a 2 by 2 chest, this one is limited to east or west.

Chest direction should be based on where the player stood when the last block to make a valid colossal chest multiblock structure is placed..

[2016-01-31 16:17] JonaBrackenwood opened #21 "Losing inventory"
When a colossal chest core or wall is placed besides a valid colossal chest multiblock, it has a large chance of losing it's inventory.

[2016-01-31 16:23] JonaBrackenwood opened #22 "Visual glitches when extra core or wall is present"
Observe this situation:
![image](https://cloud.githubusercontent.com/assets/1567798/12703246/ccae9f4c-c83e-11e5-837f-44e547e27387.png)

When a block of the valid colossal chest is broken, this results in weird visual glitches..
Only one block in left upper corner broken (this was the core):
![image](https://cloud.githubusercontent.com/assets/1567798/12703249/ecd225fa-c83e-11e5-806a-6e8910e73d1f.pn

[2016-01-31 17:25] rubensworks commented on #20
I thought I fixed this limitation to east and west already...
(Chest direction will only be based on the location of the core, not the facing of the player, but that shouldn't be a problem.)

[2016-01-31 17:27] rubensworks commented on #21
That shouldn't be happening indeed.

[2016-01-31 17:29] rubensworks commented on #22
Probably related to #21. I think I'll just make it impossible to place other chest blocks next to an existing chest, like for the vanilla chests, otherwise things will become quite complex.

(I like the detailed bug report :+1: )

[2016-02-05 13:40] #20 closed, assigned to nobody

[2016-02-05 13:40] #21 closed, assigned to nobody

[2016-02-05 13:40] #22 closed, assigned to nobody

[2016-02-07 03:44] zedner opened #23 "Crash when braking mini chest"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  ThaumcraftLoader (Thaumcraft-1.8.9-5.1.5.jar)
  LoadingPlugin (FastLeaveDecay-1.2.jar)
  FMLPlugin (InventoryTweaks-1.60-beta-30.jar)
  NowWithRendering (redstonepaste-mc1.8.8-1.7.2.jar)
Contact their authors BEFORE contacting forge

// Uh... Did I do that?

Time: 7.2.16. 04.41
Description: Rendering Block Entity

java.lang.Illegal

[2016-02-07 04:00] zedner commented on #23
i put down this uncolossal chest in creative and broke it with left click, then it crashed, also when braking colossal chest wall in survival its so slow, with axe is a little bit faster but still dont drop anything after i brake it

[2016-02-07 09:38] #23 closed, assigned to nobody

[2016-02-07 09:39] rubensworks commented on #23
Lower required tool material in a55484556d4bd56ee0e737fa20ee2590f1cccb36
Expect a new bugfix release soon.

[2016-02-10 16:51] rubensworks opened #24 "MCMP Integration"
Add MCMP support for the Uncolossal Chest.

[2016-03-01 15:38] OldManCraft opened #25 "Duping by scrolling"
when a stack of something is placed in a chest I can then click down on my scroll wheel and it dupes everything in the chest. There has to be a stack of something in it for it to work. This is on a server.

Latest version
Latest forge
Have mouse tweeks and inventory Tweeks installed.

[2016-03-01 15:54] rubensworks commented on #25
Does this bug also exist when mouse tweaks and inv tweaks are _not_ installed?

[2016-03-01 16:05] OldManCraft commented on #25
That I don't know... Had to remove the Mod from the server. Its the auto sorting button.

[2016-03-04 18:27] rubensworks opened #26 "Items can be piped into invalid cores"
Items should not be allowed to be piped in when a chest is not valid (yet).

[2016-03-16 16:24] rubensworks commented on #25
Just tried it in both SSP and SMP with Forge 1.8.9-11.15.1.1764, CyclopsCore 0.5.1, ColossalChests 1.3.2, Mouse Tweaks 2.6.1 and Inventory Tweaks 1.60-beta-39.
I was not able to reproduce this duping bug.
So either it is being caused by some other mod, or it was already fixed by Forge, Mouse Tweaks or Inventory Tweaks.

@BuckitHead If the bug still persists, let me know by providing a detailed wal

[2016-03-16 16:24] #25 closed, assigned to nobody

[2016-03-16 16:32] #26 closed, assigned to nobody

[2016-04-27 01:19] matt81093 opened #27 "Minor versioning bug with 1.9-1.3.4"
When loading ColossalChests-1.9-1.3.4, it lets me know there is a new version "1.3.3". Just wanted to pass that on.

[2016-04-27 06:44] rubensworks commented on #27
Ah, apparently I forgot to update its version in the version repo, thanks for letting me know!
Fixed in CyclopsMC/Versions@eb59df5c31dd7cf9a8ae265f0606e54b6deed1e4

[2016-04-27 06:44] #27 closed, assigned to nobody

[2016-04-27 13:45] matt81093 commented on #27
Glad to assist

On Wed, Apr 27, 2016 at 1:44 AM, Ruben Taelman notifications@github.com
wrote:

[2016-04-28 17:02] rubensworks opened #28 "Charset Locks integration"
This should make Charset locks resize depending on the chest sizes, and vary their color.

[2016-06-25 03:17] patrickclank9 opened #30 "Replacing a chest wall with an interface deletes the item contents of the colossal chest"
Also, breaking an interface on a colossal chest spills out all the items. I'm assuming that should only happen when breaking the chest core.

[2016-06-25 10:09] rubensworks commented on #30
You're correct, that's not supposed to happen.
Thanks for reporting this.

[2016-06-25 15:06] #30 closed, assigned to nobody

[2016-06-25 15:08] rubensworks commented on #30
Ok, this was a though one to fix...
Will push a new release between here and a week.

[2016-06-26 17:14] megaloloful opened #31 "Crash when closing colossal chest"
Sometimes when I close a colossal chest (or uncolossal chest) the game crashes.

Forge 12.18.0.1996
CyclopsCore 1.9.4-0.9.3
Colossal chests  1.9.4-1.3.5

Crashlog: http://pastebin.com/gStFvHUn

[2016-06-26 17:17] rubensworks commented on #31
@immortaleeb I assume you fixed this in CyclopsCore a while back, is this correct?

[2016-06-26 17:20] immortaleeb commented on #31
@rubensworks I have only made the sound changes to evilcraft.
The changes haven't been merged to CyclopsCore's master branch either: https://github.com/CyclopsMC/CyclopsCore/tree/sound-changes

[2016-06-26 17:22] rubensworks commented on #31
Ok, this will be resolved in the next bugfix update.

[2016-06-30 15:31] #31 closed, assigned to nobody

[2016-07-07 00:35] WhiteFire-Sondergaard opened #33 "1.9.4 Multi-Player problems"
I have two issues that only happen in multi-player. If I copy the world and run it single player I can not reproduce them.

The first is if you fill a 5x5x5 Diamond chest, re-approaching the chest (say entering the dimension in sight of it) causes: Tried to read NBT tag that was too big; tried to allocate 2097171 bytes where max allowed is: 2097152 causing the client to lose connection instantly.

[2016-07-07 10:01] rubensworks commented on #33
For your first issue, I anticipated that this might happen. That is why I added the `maxSlotsPerPacket` option in the config file. Try _decreasing_ this value, and see if this your problem. Let me know which value worked for you, and I'll use that as default value for the next update.

For the second problem, I tried this in both SSP and SMP, but I can not seem to reproduce it. I tried breaking al

[2016-07-26 20:35] rubensworks opened #34 "RFTools inventory scanner crash"
Crash while trying to put items in with the Inventory Scanner from RFtools.

https://pastee.org/8r6mc

Source: http://minecraft.curseforge.com/projects/colossal-chests?comment=19

[2016-07-28 09:14] #34 closed, assigned to nobody

[2016-07-30 13:00] rubensworks commented on #6
Assume fixed

[2016-07-30 13:00] #6 closed, assigned to nobody

[2016-08-01 09:28] kerenon opened #35 "Texture(?) problem"
Don't really know how to describe this. It's just black :D

[Screenshot](http://imgur.com/a/MzowO)

No 'BetterFPS', no 'Optifine', nothing like it. Using latest recommended forge version 1.10.2 - 12.18.1.2011.

I'm not sure it helps, but after looking through the logs, I did found something related to Colossal Chests:

`[10:57:10] [Client thread/DEBUG] [FML/]: Item json isn't found for 'colossalch

[2016-08-01 09:31] rubensworks commented on #35
I've been having trouble reproducing the 'blackness' issue.
Could you try the latest dev build to see if this resolves the problem for you? https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.9.4-1.3.8-90/:ColossalChests-1.9.4-1.3.8-90.jar

[2016-08-01 09:39] kerenon commented on #35
Thank you. This version works :).
BTW, link has an extra ":" in it.

[2016-08-01 09:39] #35 closed, assigned to nobody

[2016-08-01 09:40] rubensworks commented on #35
Ok, great :-)
I'll make a public release for this version very soon.

[2016-08-08 16:51] rubensworks opened #36 "Inventory Tweaks support"
Suggested by: https://mods.curse.com/mc-mods/minecraft/237875-colossal-chests?comment=8

[2016-08-08 17:04] rubensworks opened #37 "Visual indication of interfaces"
Show where interfaces are when the chest is formed.

Source: https://minecraft.curseforge.com/projects/colossal-chests?comment=22

[2016-08-13 15:00] #36 closed, assigned to nobody

[2016-08-21 08:28] rubensworks opened #38 "Make opening animation disableable"
Source: https://minecraft.curseforge.com/projects/colossal-chests?comment=25

[2016-08-21 11:57] ManMan36 opened #39 "Make Chests Searchable?"
When chests get truly colossal, and one has utilized the capabilities to their fullest potential, it can be hard to find what one wants in the chests. Having a search bar would be nice.

[2016-08-21 12:00] rubensworks commented on #39
It would be nice, I agree :) But that would take away the simplicity of the (cheap & early-game) chests, which is why I don't want to add it.
If you want such a search functionality, you can use storage enchancement mods like Refined Storage or Ender IO, they work together with this mod.

[2016-08-21 12:00] #39 closed, assigned to nobody

[2016-08-29 19:03] rubensworks commented on #33
Assuming fixed, please comment if this is not the case.

[2016-08-29 19:03] #33 closed, assigned to nobody

[2016-08-30 09:42] charchess opened #40 "colossal chest nbt size problem"
Hi,

am running a server 1.10.2 - forge 12.18.1.2071 with lots of mods and I came accross a problem with colossal chest twice

I had a 4x4x4 chest, full, tried to expand it to 5 and it came with some nbt size problem limit. I did accept the situation and started a new server.

I came across another similar problem but client side, chest being heavily loaded (5x5x5) it said  io.netty.handler.timeou

[2016-08-30 09:44] rubensworks commented on #40
I anticipated that this might happen. That is why I added the `maxSlotsPerPacket` option in the config file. Try decreasing this value, and see if this your problem. Let me know which value worked for you, and I'll use that as default value for the next update.

[2016-08-31 05:54] charchess commented on #40
sadly I am not sure I still have the backup of the server in that state, will double check and let you know/do some tries

[2016-08-31 18:17] #38 closed, assigned to nobody

[2016-09-06 08:48] charchess commented on #40
sorry, don't have the backup anymore and moved to mc 1.7.10 due to lag on server and some non compatible mods I wanted to add.
If I ever come accross the same problem on another server, I'll keep you in touch

[2016-09-10 16:00] Mattabase opened #41 "Out Of Memory"
http://pastebin.com/FHKTJ7PT

[2016-09-10 16:21] rubensworks commented on #41
That is strange...
Does this crash happen every time the server is started? Or is this a random occurence?
It might just be the server running out of memory.

I see Refined Storage in the stacktrace, @raoulvdberge, is this something that could be caused from your end?

[2016-09-10 16:23] rubensworks commented on #41
This will probably be related: raoulvdberge/refinedstorage#325

[2016-09-10 16:24] Mattabase commented on #41
It happens over time, but it took 3ish hours to consume 6GB of Ram and crash the server.

[2016-09-10 16:26] raoulvdberge commented on #41
RS ext. storages do a slot lookup every tick to calculate the items stored... is this slow / memory intensive with Colossal Chests?

[2016-09-10 16:29] gigabit101 commented on #41
because of the inv size of Colossal Chests this will become very slow / memory intensive you might want to thread that or only re scan the inv on inv change?

[2016-09-10 16:35] rubensworks commented on #41
@raoulvdberge It shouldn't be slow no, it's a simple array lookup, so that should happen in `O(1)`.
I could provide an API for these chests that would allow you to listen to chest changes, this might improve your scanning algorithm.

From the stacktrace I can see that RS connects to a chest interface instead of the chest core. This should still be sufficiently fast, but I'll have a look if I can f

[2016-09-10 16:38] gigabit101 commented on #41
![h7uexjh](https://cloud.githubusercontent.com/assets/5615438/18412042/5515ef14-777d-11e6-9bd1-300e274751be.png)

[2016-09-10 16:38] rubensworks commented on #41
@Mattabase Could you try connecting your RS storage bus directly to the colossal chest core instead of the interface? If that doesn't solve the problem, then we know for sure that the RS inv scanning is causing the problem.

[2016-09-10 16:48] rubensworks commented on #40
Note to self: decrease default maxSlotsPerPacket

[2016-09-10 17:02] Mattabase commented on #41
Ok, so putting it on the Core makes the TPS drop slower but it still does.

[2016-09-10 17:10] rubensworks commented on #41
Ok thanks, so the bottleneck will be the inv scanning.

[2016-09-10 17:27] raoulvdberge commented on #41
I'm still wondering how a heap size out of memory error can happen, as RS doesn't allocate any memory when calculating the stored count

[2016-09-10 18:44] rubensworks commented on #41
Did some small changes that should improve performance.
You can try the dev build here: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.9.4-1.3.9-95/ColossalChests-1.9.4-1.3.9-95.jar
Make sure to backup before using this.

I still think the main bottleneck is RS inventory scanning though. So @raoulvdberge, I suggest that we discuss this on IRC sometime soon. (Not t

[2016-09-10 18:52] rubensworks opened #42 "Iron Chest modcompat not working"
Source: https://minecraft.curseforge.com/projects/colossal-chests?comment=28

[2016-09-10 19:09] gigabit101 commented on #41
@rubensworks new issue https://www.twitch.tv/themattabase

[2016-09-10 19:24] rubensworks opened #43 "15x15 sized chests renders wrong"
They render a bit into the ground apparently.

[2016-09-10 19:41] #42 closed, assigned to nobody

[2016-09-10 19:55] rubensworks commented on #41
Note to self: Add capability to get a hash of the current state of the chest. This will make it possible to quickly detect if something has been changed in the inventory.

[2016-09-11 06:38] rubensworks commented on #41
@raoulvdberge I have two ideas for a chest change capability:

Using the observer pattern:

[code]

Using a simple hash:

[code]

I think the former will be more efficient, but possibly more complicated to handle in the context of chunk (un)loading.
The latter will still require you to get the capability and call that method every tick, but the hash value is pre-calculated, so it should be pretty

[2016-09-11 10:28] raoulvdberge commented on #41
The former is much more clean, but like you said, it might cause issues with observers resetting when the chunk unloads/loads. So, I'd opt for the latter.

[2016-09-12 18:27] rubensworks commented on #41
@raoulvdberge
I've implemented the second approach as a capability here: https://github.com/CyclopsMC/CommonCapabilitiesAPI/commit/81d939078e4d22a9262427176ff79558ccb20904

I've added it to the Common Capabilities API instead of Colossal Chests, to make it possible for other modders to easily use it as well.
The API can be added as a git submodule (as is explain in the repo's README).
This capabil

[2016-09-12 18:46] #43 closed, assigned to nobody

[2016-09-12 19:43] raoulvdberge commented on #41
Thanks, I'll implement this for v1.0.1.

[2016-09-13 11:22] p455w0rd opened #44 "Bug: Colossal Chests"
# Forwarded from MinecraftModDevelopment/MMD-Dev-Server#147 by @MrTaco9001 :

Right clicking on a colassal chest makes all the items in my inventory go away. They don't get deleted but they only way to get them back is updating my inventory.

[2016-09-13 19:05] rubensworks commented on #44
This has been fixed in 9132afaee650bc1f6ee20560e9532b208705de3a, and is included in the new release.
I'll post an issue to request an update.

[2016-09-13 19:05] #44 closed, assigned to nobody

[2016-10-19 22:23] p455w0rd commented on #40
this is still happening, we've lowered the config option to 1500 and rasied to 3500..we've tried everything..it's happening on a silver chest which has 9k+ slots..I'm assuming you're storing all of this in a single TE..a better idea that would significantly decrease NBT size would be to create custom slots which allow for more then 64 item per slot..I do this with the /dank/null

[2016-10-19 22:33] rubensworks commented on #40
I've been thinking about this, and I could do something about this by not using a fixed, but a dynamic fragmentation of NBT. Will probably require some hacking around some Vanilla code though...

[2016-10-30 09:53] #40 closed, assigned to nobody

[2016-10-30 09:55] rubensworks commented on #41
@raoulvdberge What's the status on this? Do you need any help with the usage of the capability?

[2016-10-30 10:05] raoulvdberge commented on #41
Still have to begin working on it. We've been really busy with autocrafting this version, so it's not that high of a priority.

[2016-10-30 10:09] rubensworks commented on #41
Ok, no hurry, let me know if I can help with anything ;-)

[2016-11-01 21:10] BrofistKittycat opened #45 "Chest not working"
I was having an odd problem on the 1.9.4 version: creating the multiblock would work, but unfortunately I couldn't open the chest. It would play the opening sound, show the chest opening, but no GUI. Also, it would make my items disappear until I relogged. I was using Cyclops Core v. 0.8.0 and Colossal Chests v. 1.3.6. Great mod, amazing concept, and an unfortunate bug. I would **love** to use thi

[2016-11-01 21:15] BrofistKittycat commented on #45
If it helps, I was also using the following mods:
CodeChickenCore-1.9.4-2.0.4.71-universal
DynamicLights-1.9.4
EnderBags-1.9.4-2.0.0
Fast**Leave**Decay-MC1.9.4-1.2.1
Furnus-1.9.4-1.83
NotEnoughItems-1.9.4-2.0.1.133-universal
OptiFine_1.9.4_HD_U_B6
planttech-1.6.0 - 1.9.4
ReapMod 1.1.1

[2016-11-02 06:44] rubensworks commented on #45
Please update to the latest version (1.4.0), you're using a months old version that was buggy.

[2016-11-02 06:44] #45 closed, assigned to nobody

[2016-11-03 07:49] Morpheus1101 opened #46 "[1.10.2] 9x9 Diamond Colossal chest causes client fatal lag out on open"
I have a 9x9 Diamond Colossal chest with about 6 screens full of items from a rftolols fortune quarry running full speed and after opening it, the itemsno longer update in the chest and after a very short period (less than 30sec) i get kicked off the server and not able to reconnect  for a minor amoun tof time due to my client hsowing as still logged in and getting a networkDispatcher Exception tr

[2016-11-03 07:52] rubensworks commented on #46
Please try the latest dev build, this might fix the problem: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.9.4-1.4.0-109/ColossalChests-1.9.4-1.4.0-109.jar

[2016-11-03 08:01] Morpheus1101 commented on #46
Sadly no, this doesnt solve the issue

[2016-11-03 08:04] rubensworks commented on #46
Note to self: implement lazy packet sending when players scrolls to slot ranges instead of sending all slots at the same time.

[2016-11-11 13:16] rubensworks commented on #46
@Morpheus1101 Sorry for the delay, it's been quite busy for me...
I've implemented several changes and optimizations.
9x9 diamond colossal chests full of items seems to work for me in SMP.
Could you have a look to see if this fixes the issue for you as well?
(Make sure to first take a backup of your world)

There are still some more optimizations possible if they prove to be necessary.
But they're

[2016-11-12 10:45] Morpheus1101 commented on #46
Firing it up to test Now......

[2016-11-12 12:00] Morpheus1101 commented on #46
There now seems to be an issue with some items not displaying in the chest and it showing an empty slot, however, when clicking on said empty slot you get a client crash to menu and this info spammed into server console(not sure if related)

https://puu.sh/sfDpo/606b333f66.txt

Below empty slot is where a torch was Shift clicked into the chest

https://puu.sh/sfDw9/62ed0005dd.png

[2016-11-12 12:05] rubensworks commented on #46
Do the empty slots already occur when opening the chest for the first time?
Or do the slots only remain empty after an item has been shift-clicked into the chest?

If it's the latter, it's probably related to the console spam you mentioned, which seems to be caused by packets erroring.

[2016-11-12 12:24] Morpheus1101 commented on #46
The slots only occur when shift clicking items into the chest, sometimes they appear other times they dont, then when clicking, the crash on client and the server console spam occurs thats attached. Upon re-logging in, all items appear and can be seen an interacted with

[2016-11-12 13:02] rubensworks commented on #46
This was apparently caused by an incompatibility between MC 1.9 and 1.10 (I was testing on 1.9.4), which has been fixed in c42a0926dcab483929fbe160d957c3c7a561ee9f.

This new version should resolve your issues: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.10.2-1.4.0-112/ColossalChests-1.10.2-1.4.0-112.jar

[2016-11-12 23:49] Morpheus1101 commented on #46
Tested out the diff version you sent and unf when scrolling down the list of items, it crashed the client out to the main screen https://puu.sh/sgdfs/29027c1737.txt

[2016-11-13 09:50] rubensworks commented on #46
The problem was not caused by the act of scrolling, but just some delayed packets that errored after some time.
Vanilla's inventory change detection packets apparently can't handle the large slot id's of colossal chests, so I rewrote it 33add8f4e0cc93461cbf10bd06bcbfe3e02f927c.
It's strange though how this problem only popped up now...

Tested the new version in SMP with a full 9x9 diamond chest,

[2016-11-13 10:16] Morpheus1101 commented on #46
rofl...yeah, everything seems to happen for me, i shall whack this up an give it a whirl and see how things go

[2016-11-13 10:46] Morpheus1101 commented on #46
Sadly in testing this, im back to having the very 1st issue occuring, i open up the colossal chest, and within a short period of time it disconnects the client form the server with no crash or exception etc etc etc

[2016-11-13 10:51] rubensworks commented on #46
The server you are testing on, is it on your local machine or remote?
There's one more thing I can try, but it's tricky for me to figure out exactly what goes wrong since I can't seem to reproduce this disconnection problem myself :/

[2016-11-13 10:51] Morpheus1101 commented on #46
Its on my local machine, using a map we're using on the MMD-Dev server

[2016-11-13 10:54] Morpheus1101 commented on #46
https://puu.sh/sgFZj/4f0975a64d.png shows the list of mods currently loaded

[2016-11-13 10:58] rubensworks commented on #46
This latest change should drastically reduce the number of packets that is sent from server to client, which may fix your problem.

New version: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.10.2-1.4.0-116/ColossalChests-1.10.2-1.4.0-116.jar

[2016-11-13 11:04] Morpheus1101 commented on #46
Firing it all up now....lets hope for the best

[2016-11-13 11:08] Morpheus1101 commented on #46
Nope, same thing, this is a new 9x9 Diamond chest with about 3 or 4 rows of items in it, boots me off the sevrer, but it still thinks im on there and only information is a NetworkDispatcher exception in server console

[2016-11-13 11:11] rubensworks commented on #46
Ok, I'm officially out of ideas now...

Could you send me a zip of your server (mods, config files, world, ...)?
Also send me the coordinates of the colossal chest that generates this problem, so I can tp myself to that location.
I'll have to do some fine-grained debugging on this one.

[2016-11-13 11:23] Morpheus1101 commented on #46
I can indeed.  Chest cords are @ 9741 67 10451 & the link to the files you need is coming, which is 1.35GB

https://ufile.io/57f18

[2016-11-13 13:29] rubensworks commented on #46
Thanks!
I'll try to look into it soon.

[2016-11-15 17:32] rubensworks commented on #46
It looks like my machine isn't powerful enough to run your pack, I keep getting socket timeouts.
So testing this won't be that trivial.

My schedule is quite swamped the next couple of weeks, so I don't know when I'll be able to properly resolve this problem.
I suggest that you in the meantime use a storage proxy (like RS or AE) over the chest, since the only problem here is opening the gui of che

[2016-12-16 00:10] Darkosto opened #47 "Server Crash When Viewing Tooltip"
Hello,

Is it possible to add a check in to prevent this type of crash: http://pastebin.com/6YGZpq0v

On our testing server, a user broke a diamond chest wall with silk touch to create a broken block. Then, inserted this item into their colossal Chest connected to a Refined Storage system using a External Storage Bus. When viewing the tooltip of the "broken" item, they are kicked from the game and

[2016-12-16 09:47] #47 closed, assigned to nobody

[2016-12-16 16:35] Darkosto commented on #47
Thank you :)

[2016-12-25 10:51] Morpheus1101 commented on #46
How's this looking ?

[2016-12-26 11:52] rubensworks commented on #46
@Morpheus1101 No further progress unfortunately... If all goes well I may be able to get back to this later this week. But I can't promise anything.

@Runesmacher, perhaps you are up for the challenge? The main problem here is simply that I can't reproduce this issue myself. And my machine is not strong enough to run the pack provided by @Morpheus1101 in an SMP environment to reproduce it.

[2016-12-26 12:20] Runesmacher commented on #46
@Morpheus1101 or @rubensworks could you upload the pack again, the link has expired ;)

[2016-12-26 12:41] Morpheus1101 commented on #46
I no longer have this pack as it has been long since changed quite a lot, i will test again using the new version of the pack and see what happens, unless rubens still has it

[2016-12-26 13:05] Morpheus1101 commented on #46
ok atm, with the current pack using the latest CC available from Curse, i hooked up a 9x9 Diamond Colossal Chest with a Builder using silk quarry from rftools, powered by a DraconicEvolution creative power source with a Diamond Chest from iron chests mod on top of the builder connected to the colossal chest via an Item Conduit from EnderIO with maximum speed upgrades in the conduit.

When opening

[2016-12-26 13:26] Morpheus1101 opened #48 "[1.10.2] Update Notification claiming 1.4.0 is newest vers when using v1.4.1"
The updater form within game sais that v1.4.0 is latest version available when 1.4.1 is being used.

![2016-12-26_23 23 46](https://cloud.githubusercontent.com/assets/10524952/21482650/b831f446-cbc2-11e6-8f34-34e30d5ed172.png)

[2016-12-26 13:38] rubensworks commented on #46
@Morpheus1101 So Reliquary was the mod causing the issue, and this does not occur anymore in any other way without Reliquary installed?

Does this also occur when placing Reliquary items in a non-colossal chest? Perhaps you should report this to their issue tracker.

And no, I don't have the pack anymore.

[2016-12-26 13:43] #48 closed, assigned to nobody

[2016-12-26 22:05] Morpheus1101 commented on #46
"so there was a call in my code which actually instead of getting the inventory slots and then looking at their size actually copied the whole inventory behind the scenes before checking the size."

So with reliquary having also been in the prev pack id say it didnt show its head untill now with the changes to forge and fully suspect the issue was not colossal chests in this instance.  However i w

[2016-12-26 23:08] Runesmacher opened #49 "Add christmas texture to uncolossal chest item"
Uncolossal chests and wooden colossal chests are shown in the world as presents around christmas time, but the item for the uncolossal chest does not show the christmas texture.

Totaly trivial ;)

[2016-12-27 11:04] Morpheus1101 commented on #46
No Further Errors with 9x9 Chest 3/4 Full.

[2016-12-27 11:04] #46 closed, assigned to rubensworks

[2016-12-27 11:06] rubensworks commented on #46
Ok, awesome!
At least a lot of optimizations came out of this that would've been implemented eventually anyways :)

[2017-01-04 03:39] funniray opened #53 "If a chest is to big, it crashes the game"
I tried to make a 128x128x128 chest, while I was placing the blocks, my game ended up crashing.

Crash log: https://gist.github.com/funniray/fe85b18f609a03ef1842dc5ddef7730f

Edit: by the way, I'm playing skyfactory 3.0.1

[2017-01-04 17:15] rubensworks commented on #53
Fixed in CyclopsMC/CyclopsCore@5f653d8fc2dc5b44dfc66b11a3366f0d03212f43
New release coming soon.

[2017-01-04 17:15] #53 closed, assigned to rubensworks

[2017-01-04 23:57] Morpheus1101 opened #54 "[1.10.2] Colossal Chest items become invisible"
When 1st opening the chest all contents are visible np's at all, but after a very short period of time all thew contents become invisible until you click on one of them to pick up an they all re-appear.  I believe it occurs when coronets are updating.

Can be re-produced consistently.  Setup in pic below

![2017-01-05_09 56 38](https://cloud.githubusercontent.com/assets/10524952/21663664/5d0c088c-

[2017-01-05 07:09] rubensworks commented on #54
What do you mean exactly with "the new contents"?

Are those the slots that are being filled by the EIO pipe? Were these items already visible before?

When picking up one item and all of them becoming visible? Do those item become invisible after a while again?

What do you mean with "coronets"?

[2017-01-05 10:34] Morpheus1101 commented on #54
When you 1st open the colossal chest all contents are visible with no issues.  However after a very short period they dissapear from view, i don tknow if its when a series of new items have been transfered into the chest via the EnderIO conduits, but thats what occurs.

When they've become invisible, the moment you pick 1 item up from the colossal chest, they all become visible.  Howeevr if you le

[2017-01-05 10:38] Morpheus1101 commented on #54
This video gives a quick demonstration of what happens.  https://puu.sh/tbSyT/07de15470a.flv

[2017-01-05 10:40] rubensworks commented on #54
@Morpheus1101 That's very useful, thanks!

[2017-01-06 04:43] Krutonium opened #55 "io.netty.handler.codec.DecoderException: java.lang.NegativeArraySizeException when shift clicking more than 1 item stack into the chest at a time."
In my case, it's a 16x16x16 chest, in SkyFactory 3. Shift Clicking individual stack in Works, and removing them using Shift and multiple stacks Works.

![screenshot 121](https://cloud.githubusercontent.com/assets/3945538/21707846/da9f3af8-d3a0-11e6-9b91-8cb21e49ec7b.png)

[2017-01-06 08:23] rubensworks commented on #55
Oh... Do you always have this when shift clicking, or only sometimes?
Does something appear in your client/server console?

[2017-01-06 23:17] Voxel-Friend opened #56 "[Enhancement] Different wood chests"
Just as there is ironchest-like variants, there could be spruce, acacia etc. If quark is installed, could use it's textures.

[2017-01-06 23:17] Krutonium commented on #55
It only happens when you Shift Click and Drag the mouse, and it's 100% Reliable. Lemme grab those logs for you.

[2017-01-06 23:59] Krutonium commented on #55
So from the servers perspective, the client simply disconnects -
[code]

[2017-01-07 10:44] rubensworks commented on #56
I feel like this is out-of-scope for this mod, so I won't implement this.
It should be possible however for other mods to add this behaviour to this mod, such as quark.

[2017-01-07 10:44] #56 closed, assigned to nobody

[2017-01-07 13:11] frogalo opened #57 "chest size/items can hold"
I would like to know how many items I can hold with different sizes of chests

[2017-01-07 14:00] Voxel-Friend commented on #56
Fair enough.

[2017-01-08 19:33] #37 closed, assigned to nobody

[2017-01-08 21:13] goldbattle opened #58 "Inserting / Exporting Lag"
Making this issue based issues a streamer playing the sky factory 3 modpack.
https://www.feed-the-beast.com/projects/ftb-presents-skyfactory-3

Lag Issue:
* Lag when importing into a 7x7 and 8x8
* https://www.twitch.tv/sevadus/v/113311965?t=06h54m00s
* Profiling with: https://github.com/nallar/TickProfiler

Other issues mentioned:
* Vein mining will cause diamond blocks to turn into iron blocks
*

[2017-01-08 21:17] firstnecron commented on #58
Don't think this is single player only. Servers I heard are having issues as well.

Some extra results from tests:
LAGGY:
Refined Storage (Importer importing into the system, with a storage interface putting the items into the chest)
Translocators Item Translocators

NOT LAGGY:
ExtraUtils2 Item Transfer Node (Max upgraded)
Vanilla Hopper
EnderIO Item Conduit (Speed upgrades were not tested)

[2017-01-08 21:54] frogalo opened #59 "BUG with building chest with builders wand"
So I play SkyFactory 3 and I was making a 16x16x16 iron chest (it can hold 14M items). I was going to use builders wand but when I click it on the chest walls it instead of iron walls it is putting copper. I didn't make any copper walls and have none in my inventory.

[2017-01-09 07:51] rubensworks commented on #59
Sounds like a bug with the builders wand, better to report on their issue tracker.

[2017-01-09 07:51] #59 closed, assigned to nobody

[2017-01-09 23:41] P3rf3ctXZer0 opened #60 "Request High Priority - Quark Support 1.10.2"
Please Read This for Details!
https://github.com/Vazkii/Quark/issues/292

[2017-01-10 05:48] #60 closed, assigned to nobody

[2017-01-10 07:07] #57 closed, assigned to nobody

[2017-01-10 07:09] rubensworks commented on #58
Chances are small that this can be fixed on our end, but I can try to come up with something in the future.

[2017-01-10 07:20] rubensworks commented on #60
I prefer not to implement any third-party interfaces on tiles and items. Capabilities, however, would be something I'd be willing to add.

[2017-01-10 16:23] P3rf3ctXZer0 commented on #60
@rubensworks It seems to already be in your mod. That is why I closed the issue.

[2017-01-12 16:36] drekryan commented on #58
In its current state this mod is unusable in a modpack. It interacts extremely poorly with other mods and causes significant TPS lag for servers. There has to be something done about this if you want any chance of someone to use it.

[2017-01-12 17:00] rubensworks commented on #58
The main problem here is that item handler capabilities are slot-based. And since Colossal Chests has a huge amount of slots, this does not scale well for this type of interface.

Ideally, I would provide a new type of capability that is not slot-based anymore, but provides some smarter indexing mechanism. This would however require all item transfer mods to support this type of interface as well,

[2017-01-12 17:05] raoulvdberge commented on #58
@rubensworks

I was thinking about this, and while it will solve the external storage issues the problems with other mods will remain.

Lots of mods use slot iteration with `IItemHandler#getSlots`. The importer does this for example to know from what slots to extract according to the whitelist.

While such a special capability would solve the issue, I can't modify all the places in the RS codebase

[2017-01-12 17:09] Darkosto commented on #58
Okay, I'm not trying to sound like a jerk on this, but that reply/message does not actually help when trying to pin down the exact issues. Saying it's unusable in a modpack is not completely true because I have used it in my worlds with hardly any issues. @rubensworks has actually done a lot of work so far in fixing these lag and performance issues and continues to do so.

It's also not always col

[2017-01-12 17:19] rubensworks commented on #58
@raoulvdberge You're right, other mods will still be less efficient when they don't support the capability. Unfortunately there's nothing I can do about it (please tell me if I'm missing something), unless I drastically reduce the number of slots per chest, which would defeat the purpose of the mod ;-)

The wrapper you suggest would have to be statefull if it would do internal indexing, which may

[2017-01-12 17:22] raoulvdberge commented on #58
You can change the methods in `IItemHandler` to use the new index, based on the ommited slots.

[2017-01-12 17:26] rubensworks commented on #58
@raoulvdberge Changing the semantics like that could be quite dangerous. Some mods might do some internal caching of slots, which could lead to broken item transfer algorithms, because slot `x` in tick `i`, may not be the same slot anymore in tick `i+1` because of that change.

Eitherway, such a change could indeed improve efficiency in some cases, but not for the majority of cases as far as I can

[2017-01-12 17:31] drekryan commented on #58
I understand the chest has ALOT of slots. I'm not a mod developer here so I can't begin to offer suggestions to fixes however I know mods such as refined storage or applied energistics have a lot of storage, slots, whatever you want to call it without affecting server performance significantly (so maybe look into something similar to that). I can and will provide the results from my server here la

[2017-01-12 17:32] goldbattle commented on #58
What about "sharding" the chest and requiring that on each level you need to have an equal amount of import / export points? So each inventory would be internally a large inventory, but to outside mods, it would be 6 smaller inventories for a 6x6 and 10 inventories for a 10x10 size chest.

This could allow for the mods to almost have a "async" nature when doing search patterns.

[2017-01-12 17:38] raoulvdberge commented on #58
@drekryan

If you were a programmer, you would know how hard this problem is to fix actually. Making assumptions like that is usually very rude.

@rubensworks

That is not our problem. Slots can change, caches need to expect that. The Refined Storage external storage cache handles it correctly, for example.

To be honest, according to me this should fix all issues as you're limiting the amount of

[2017-01-12 17:57] rubensworks commented on #58
@raoulvdberge I still don't see how changing the semantics of `getSlots()` could work without breaking a lot of things. If it would be changed so that it only returns non-full slots, this would mean that mods wouldn't be able to see all stacks in an inventory anymore using`getStackInSlot`. Furthermore, while insertion could be (slightly) improved, extraction would not work properly anymore, since

[2017-01-12 18:32] raoulvdberge commented on #58
It would be changed so it only returns **non-empty** slots.

Full slots remain. Only empty slots will be ignored.

[2017-01-12 18:34] rubensworks commented on #58
@raoulvdberge Ok, but in that case, how would an item transfer algorithm be able to insert items into fully empty slots? Because it would be able to _see_ it.

[2017-01-12 18:36] raoulvdberge commented on #58
You'd keep 1 empty slot available at all times.

[2017-01-12 18:43] rubensworks commented on #58
@raoulvdberge That could indeed work.

There's still the issue with a lot of non-full, non-empty slots though. Let's say you have 1M slots with 32 non-egg items, and slot 1M+1 has 32 eggs. When a single egg would need to be inserted, an algorithm would still need to go over each of the 1M slots to check if the egg can be inserted in there.
I think, on average, this is the most typical case. So whi

[2017-01-12 18:54] raoulvdberge commented on #58
That is something you can improve in your implementation: e.g. store a `Map<Item, List<Integer>>` to see which slots allow said item. I'm not sure if something like that would work, though.

[2017-01-12 18:58] rubensworks commented on #58
@raoulvdberge That's indeed the problem. The current `IItemHandler` makes it only possible for the item handler interface consumer to implement such an optimization, which is not ideal because inventory contents might be volatile, and the mapping might get invalidated at any time.

I would have no way to expose such a mapping without adding a new method through a new capability, for instance.

[2017-01-12 19:02] raoulvdberge commented on #58
Hm, I see.

Another option is to completely get rid of slot based storage of items. Instead, store a Multimap<Item, ItemStack>. It'd be easy to write a IItemHandler wrapper for that. Making it work with MC's container system might be more difficult, though.

[2017-01-12 19:09] rubensworks commented on #58
@raoulvdberge Indeed, internally that could be a good way of handling it. I do however not think it would be good to force this datastructure on other mods, which is why the following methods as a simplified form of the `IItemHandler` might be prefered:
[code]
These can easily implemented on top of an `Multimap<Item, ItemStack>`. (except for the `extractItem` `matchFlags` which could require speci

[2017-01-12 19:52] raoulvdberge commented on #58
Ideally, that solution would be abstracted away with an IItemHandler.

While I like your suggested additions, I'd very much prefer a IItemHandler-only solution.

[2017-01-12 19:58] rubensworks commented on #58
@raoulvdberge It should be doable to wrap such an interface into an `IItemHandler`, but not without loss of performance I think.
I'm currently working on implementing a wrapper the other way around, so putting an `IItemHandler` inside an `ISlotlessItemHandler` (yes, I just named it :p), this should only give an _increase_ in performance.
I'll ping you once I have something working, might not be fo

[2017-01-13 10:08] Morpheus1101 commented on #54
Any update on this?

[2017-01-13 12:14] rubensworks commented on #54
@Morpheus1101 Unfortunately not no, #58 currently has a higher priority, so I want to resolve that one before looking into this one.

Perhaps @Runesmacher could have a look if he has time?...

[2017-01-13 20:42] Runesmacher commented on #54
I don't seem to be able to replicate the issue in my DEV enviroment,
Local world or even a local dedicated server.
Does it happen on a remote server?

@Morpheus1101 could you give me the version you are using? Does it still happen with the latest release?
If yes => please provide me with a mod list

[2017-01-13 21:35] Morpheus1101 commented on #54
Yes this is a remote server: *core vers 0.9.0 & CC v1.4.2

Mods List @ https://github.com/MinecraftModDevelopment/MMD-Dev-Server/issues/453

[2017-01-15 10:46] rubensworks commented on #54
Related: c0b51ba63bf81325e64880e2eefc223af7de8566

Note to self: this issue is probably related to the server sending an chunk/tile update packet to the client, which for Colossal Chests always contains an empty inventory. A solution would be to catch these packets and ignore the inventory tag, so that the client-side inventory is not overwritten with an empty one.

[2017-01-15 10:57] Morpheus1101 commented on #54
This would actually make sense with your explanation, i look fwd to testing out the fixed vers

[2017-01-15 22:58] Runesmacher opened #61 "Add way to rotate Chests when core is placed in top/bottom center"
When placing a chestcore in the center of the top or bottom layer, the chest faces the default location, a feature to rotate the chest after the fact would be a nice addition

[2017-01-16 12:06] rubensworks commented on #61
This would require significant changes to the multiblock algorithm, so I won't implement this.
I also don't see the need for it, since changing the position of the core allows you to choose the rotation. Together with the interface blocks, you should be able to do anything you want.

[2017-01-16 12:06] #61 closed, assigned to nobody

[2017-01-16 18:23] rubensworks commented on #54
The last commit will probably resolve this issue.

@Morpheus1101 Last dev build if you're interested in testing it: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.10.2-1.4.2-140/ColossalChests-1.10.2-1.4.2-140.jar

[2017-01-16 19:47] rubensworks commented on #58
@raoulvdberge I just implemented everything required for using the `ISlotlessItemHandler`.
More details on its usage can be found here: https://github.com/CyclopsMC/CommonCapabilitiesAPI/wiki/Slotless-Item-Handler

The latest dev build of CyclopsMC/CommonCapabilities@2ebd61c25428512ff12833244d01586c0581dd53 provides this new capability.
CyclopsMC/CyclopsCore@f01eb2a711373b61dfd0e6c8407cfc49be53afa

[2017-01-16 20:37] Morpheus1101 commented on #54
Testing confirms this is indeed fixed

[2017-01-16 21:13] rubensworks commented on #54
That's great news! This fix will be included in a release that will hopefully be pushed later this week.

[2017-01-16 21:13] #54 closed, assigned to rubensworks

[2017-01-16 21:21] raoulvdberge commented on #58
Like I said, while I could patch the external storage to use this instead of an `IItemHandler`, I'm not planning to change importers or other code that references `IItemHandler#getSlots`, since that's way too many work. Thus, the issue persists. Why couldn't you make them an `IItemHandler` under the hood? I'm sure it's possible to do without performance penalties.

[2017-01-16 21:23] rubensworks commented on #58
@raoulvdberge Because the whole problem is that `IItemHandler` is slot-based, which does not scale for large inventories. `ISlotlessItemHandler` can wrap around `IItemHandler`, but not the other way around, since the former is more generic.

[2017-01-16 21:41] raoulvdberge commented on #58
This is not the change I had in mind, it requires loads of patching code. It is possible to still have an `IItemHandler` that still uses slots, but is fast. With a "slotless approach" I meant that you wouldn't care about slots internally, but still handle them for the interface.

[2017-01-16 22:23] Runesmacher commented on #55
Verified in SMP

[2017-01-17 07:30] rubensworks commented on #58
@raoulvdberge Could you provide me with such an efficient `IItemHandler` implementation that wraps around an `ISlotlessItemHandler` then? Because I don't see how it can be done.

There is a [naive implementation](https://github.com/CyclopsMC/CommonCapabilitiesAPI/blob/master-1.9/capability/itemhandler/DefaultSlotlessItemHandlerWrapper.java) of such a wrapper,
but as you can see, this will result i

[2017-01-19 20:33] rubensworks commented on #58
@raoulvdberge I plan to release these changes this weekend, so if you need any other changes from my end, please let me know in time.

[2017-01-20 16:30] Darkosto commented on #58
Heya @rubensworks ,

Just want to catch up real quickly with you on this. I see you've located the translocators issue and figured out a solution. Will this help with the Actually Additions laser relay as well? I believe the issue is it's connecting to every single inventory slot at the same time? Let me know if there's any more information that will help out :)

Darkosto

[2017-01-20 16:47] rubensworks commented on #58
@Darkosto All item transfer mods can definitely benefit from this new capability.
I just opened an issue at the Actually Additions issue tracker regarding this.

If you discover any other item transfer mods having performance issues with Colossal Chests, be sure to let me know, so I can contact the mod authors to implement support for this capability :-)

[2017-01-20 17:02] Darkosto commented on #58
Awesome! Thank you very much!! I have a pack update coming out next week, I can't wait to get the players something even better :)

[2017-01-20 17:15] rubensworks commented on #58
@Darkosto Note that at the moment, the only mod supporting this new capability (AFAIK) is Integrated Tunnels, so only for that mod the performance increase will be apparent.
But the new capability is very simple, so hopefully other modders will start adopting it soon as well.

[2017-01-20 21:28] raoulvdberge commented on #58
I'll look into changing my code now. I'm not at all happy with me having to patch parts of the code that normally work perfectly fine though...

[2017-01-20 21:33] rubensworks commented on #58
@raoulvdberge Is that required to patch parts of your code though? I don't know exactly what the RS codebase looks like, but I thought @way2muchnoise said this could be done as an independent modcompat component.

[2017-01-20 21:40] raoulvdberge commented on #58
It can't.

[2017-01-20 21:46] rubensworks commented on #58
@raoulvdberge Perhaps some new abstractions in your code could help? I'd be happy to help you implementing this if needed. I just really want to resolve this performance issue asap, so let me know if there's any way I could help.

[2017-01-20 21:51] raoulvdberge commented on #58
I'm doing another  1.10 release in an hr or so, the release *after* that will have the changes so I can start with a clean slate.

[2017-01-22 08:20] rubensworks opened #62 "Larger guis"
Provide some default taller and wider gui's with more columns. (auto-scaling?)

As suggested by: https://minecraft.curseforge.com/projects/colossal-chests?comment=43

[2017-01-24 06:11] mightydanp opened #63 "suggestion and question"
1. what does Maximum buffer byte size for adaptive inventory slots fragmentation mean. does it mean the max number of slots.
2. if not then can you add a config where you can set the max number of slots if you only want a 2by2 or make it where you can change  where you can set the amount of slots lower some how xD 216 is kinda to big to me.

[2017-01-24 07:11] rubensworks commented on #63
1. It literally means the maximum number of bytes to send over a packet. So if a slot contains an item with a large NBT tag, this will reduce the number of items that fit in one packet more than an item with no NBT tag.
2. So you are complaining about the number of slots in the chest being too large? Maybe Colossal Chests is not the mod for you then... 😛

[2017-01-24 07:11] #63 closed, assigned to nobody

[2017-01-27 05:26] Morpheus1101 commented on #40
Im now myself getting this error although slightly different with a 6x6 Colossal Diamond Chest thats not even 1/4 full..Im now stuck and unable to join world and have the chest actively loaded without getting error again.

Log @ https://puu.sh/tC1of/0ed730b777.log

[2017-01-27 07:26] rubensworks commented on #40
@Morpheus1101 Is it a regression? i.e. does it only occur since the new version of the mod?

If it didn't occur before, could you try the following dev builds to see in which version it _does_ work for you again?
* [build 138](https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.10.2-1.4.2-138/ColossalChests-1.10.2-1.4.2-138.jar) 57021f373303fc818e1e9e6302c6d0858b934c09

[2017-01-27 07:46] Morpheus1101 commented on #40
Im downgrading verion by version untill i can successfully re-join an remain joined and i'll post which version it is.

[2017-01-27 07:58] Morpheus1101 commented on #40
All release vers on Curse are no good, now trying the dev builds you have listed

[2017-01-27 08:01] rubensworks commented on #40
@Morpheus1101 Ok, interesting, so you're encountering a special case that has never worked before.
I suspect an ItemStack that has a very large NBT tag somewhere in the chest, is that possible?

(No need to test the other dev builds btw, if the releases don't work, the later dev builds won't work either)

[2017-01-27 08:02] Morpheus1101 commented on #40
tbh i couldnt tell you, since ive prev not encounted this prior to today, im not even sure how to find out

[2017-01-27 08:07] rubensworks commented on #40
There are some things I could try, but that won't be before Sunday unfortunately.

Note to self: Double-check to make sure chunk load packet for TE's doesn't send inventory data to clients.

[2017-01-27 08:08] Morpheus1101 commented on #40
Thats ok, this new MMD-Dev pack isnt going live for a few weeks yet, its just intial testing to work out easy found crashes an bugs :)

[2017-01-27 08:20] Morpheus1101 commented on #40
Actually i suspect this isnt actually your mod thats causing it, well not directly anyway, i believe it maybe HoloInventory thats causing the problem, which im about to test, as i suspect that mod dosent have support etc for the size of colossal chests and when going to display the items contained in the chest, is when the NBT error occurs..

[2017-01-27 08:26] Morpheus1101 commented on #40
ok unf with that mod disabled it didnt solve it and i was really sure it would lol

[2017-01-27 08:39] rubensworks commented on #40
@Morpheus1101 It could be that another mod may be causing this as well. Perhaps you could try disabling other mods as well, as far as that's possible.

[2017-01-28 09:31] Morpheus1101 commented on #40
Ok, so after further discussion with another another modder we've discovered the issue to be caused by a mod called Cyclic which seems to trigger a bug in IC2 ... so thankfully this wasnt an issue with Colossal Chest :D

[2017-01-28 10:23] rubensworks commented on #40
@Morpheus1101 Ok, one of those obscure cross-mod issues then. Good to know, and thanks for letting me know :)

[2017-01-29 16:08] rubensworks opened #64 "Improved Interface with search"
A more expensive (9x?) variant of the interface block that add a search function to the gui.
Must be disableable.

[2017-01-30 20:15] dougwebb commented on #40
I've run into what appears to be the same problem, or closely related. See [FTB Forum](https://forum.feed-the-beast.com/threads/game-crash-when-pointing-at-colossal-chest-interface-block.214960/) for some reports. Looking at the interface block on a chest has started crashing the app, and the logs mention NBT size limit being exceeded. It looks like maxSlotsPerPacket was replaced with maxPacketBuf

[2017-01-31 09:44] rubensworks commented on #40
@dougwebb If it only crashes when looking at the interface block, it sounds like an issue with a mod like WAILA that sends the complete inventory to the client, which shouldn't happen. I suggest you identify that mod and report it to their issue tracker.

[2017-02-05 12:41] Rob5Underscores-zz opened #65 "NBT tag too big - Causing client disconnect."
A client crash with the following error:
http://pastebin.com/8q5hJQks

Occurs when looking at a (specific) diamond chest core. I figure an item inside the chest must cause it? Issue remains even when part of the chest is broken.

Colossal Chests: 1.5.0
Forge: 2202
CommonCapabilities: 1.3.0

[2017-02-05 13:00] rubensworks commented on #65
Sounds like an issue with Waila or something related, can you reproduce it with just Colossal Chests and CyclopsCore installed?

[2017-02-05 13:02] Rob5Underscores-zz commented on #65
That's what I thought.

I removed WAWLA (it wasn't installed serverside) and the issue persisted.

I can't test it easily with just those mods since its on a production server.

[2017-02-05 13:05] rubensworks commented on #65
Not much I can do with this information then. Colossal Chests does nothing when looking at a core, so another mod must be causing this.

[2017-02-05 13:06] Rob5Underscores-zz commented on #65
Yes. Apologies.

Forgot to remove HWYLA. Issues most likely lies there.

[2017-02-05 13:09] Rob5Underscores-zz commented on #65
https://github.com/TehNut/HWYLA/issues/42

[2017-02-05 13:12] #65 closed, assigned to rubensworks

[2017-02-05 13:13] rubensworks commented on #65
@Rob5Underscores Thanks! I don't think their current fix will resolve the issue though, they shouldn't send all NBT data from the chest to the client at all, but we'll see.

[2017-02-09 05:05] lob-star opened #66 "Crash when targeting interface block."
I'm not sure on the specifics, but I have a reproducible error that puts players into a fatal error loop after targeting the interface black on a 9x9 chest.  It affects players immediately after login as their character will still be facing the block upon login.  FTB Sky Factory 3 ver. 3.0.6.  I'm happy to provide a world save or do testing if needed.

[2017-02-09 08:04] rubensworks commented on #66
Duplicate of #65, not caused by Colossal Chests.

[2017-02-09 08:04] #66 closed, assigned to nobody

[2017-02-09 20:04] Runesmacher commented on #58
@raoulvdberge any update on the implementation?

[2017-02-09 20:10] way2muchnoise commented on #58
@Runesmacher the implementation has been in since [1.2.19](https://github.com/raoulvdberge/refinedstorage/blob/mc1.10/CHANGELOG.md#1219)

[2017-02-09 20:15] Runesmacher commented on #58
Awesome :D so we can close this issue then? @Darkosto You can update the pack now :D i would also sugest that we release a updated integrated dynamics with the fix for the gui not opening on servers.

[2017-02-09 21:51] rubensworks commented on #58
@Runesmacher I want to fix some other issues first before making a new release, but in the meantime I'll close this one.

[2017-02-09 21:51] #58 closed, assigned to rubensworks

[2017-02-10 02:05] Darkosto commented on #58
Yup @Runesmacher , I'm also waiting on a couple of other fixes or else the pack would have been updated by now. I didn't want to put 2 updates out in close proximity. Thanks for the heads up though!

[2017-02-14 07:31] Glockshna commented on #62
I made the UI [wider and taller](https://dl.dropboxusercontent.com/s/1pf6nlnr4lbkuii/2017-02-14_02-31-26.png), 15 columns and 9 rows but I'm having a few problems I want to solve before I go any further.

I can't get the mod to compile. It fails with this [log](http://pastebin.com/LKas0Fcm) and I can't seem to find a solution:

I'm using Eclipse and when I cloned the project it was complaining abo

[2017-02-14 07:40] rubensworks commented on #62
@Glockshna This repo uses submodules, so you'll have to execute `git submodule init && git submodule update` to init those, which will resolve your issue.

Your scrollbar seems to be in a strange place, since it is used to scroll in the chest inventory, not the player inventory.

I don't intend to remove the text, you'll probably have to take that into account when you make your gui texture.

[2017-02-14 07:42] Glockshna commented on #62
@rubensworks I had a feeling the scrollbar was going to come up, I am planning on moving it back to the chest and just getting rid of one column to accommodate it, but I wanted to get the compilation issue resolved first.

[2017-02-14 08:50] Glockshna commented on #62
@rubensworks [Here's ](https://dl.dropboxusercontent.com/s/sp7xtvpujqcebxs/colossalChestopt1.png) the fixed UI texture. If you approve I'll go ahead and make the code changes to add it.

The way I'm doing it right now flat out changes the interface to this. It's not optional. Are you comfortable with that?

I should add that I undertook this because the players on my server asked if it could be do

[2017-02-14 08:59] rubensworks commented on #62
@Glockshna I'd rather have it configurable actually.

To be honest, the thing I had in mind was to automatically make the gui as wide and high as possible, depending on the player's screen. This will of course require some tiling of the texture, instead of a single texture.

[2017-02-14 09:09] Glockshna commented on #62
Alright I'll just keep it a one off for my server then. If I drink too much coffee one night and make it configurable I'll give you a shout. I'd have to take a deeper look at how you're doing your gui before I attempt that though.

Somewhat related before I let you go, I think there's a minor mistake ContainerColossalChest.java
It looks like you declared CHEST_INVENTORY_ROWS but forgot to use it l

[2017-02-14 09:13] rubensworks commented on #62
@Glockshna Oh, you're right. Feel free to send a PR for that single commit.

[2017-02-14 09:38] Glockshna commented on #62
Here's my version of this change. Let me know if you change your mind on a PR for it. https://github.com/Glockshna/ColossalChests/commit/02e074ef7490b777c00588c3489f62d4ca3a9844

[2017-02-14 13:10] Glockshna commented on #62
My changes seem to break inventory tweaks, it'll start throwing LOTS of errors and crashes the game if you middle click sort the chest. Gonna need to do a bit of investigative work. Inventory Sorter doesn't care though. It works fine.

[2017-02-14 13:21] rubensworks commented on #62
@Glockshna You're probably going to have to update the Inventory Tweaks annotation here as well, to include the new row and column count: https://github.com/CyclopsMC/ColossalChests/blob/19c2a91454e425090efd3c3c2eb172b22c88a619/src/main/java/org/cyclops/colossalchests/inventory/container/ContainerColossalChest.java#L36

[2017-02-14 13:26] Glockshna commented on #62
@rubensworks I'll look into it. I appreciate the help.

[2017-02-14 14:09] Glockshna commented on #62
Doesn't look like that was the issue. I went ahead and added rowSize = 12 which from what I gather it wants the number of columns. Either way it didn't work. The same issue persists. InvTweaks is complaining of

Failed to trigger shortcut: Index: 756, Size: 756
[08:51:39] [Client thread/INFO]: [invtweaks.InvTweaks:logInGameError:479]: java.lang.IndexOutOfBoundsException: Index: 756, Size: 756

any

[2017-02-14 14:12] rubensworks commented on #62
Not sure what it could be then. Perhaps having a look at the Inventory Tweaks source code could help with debugging this.

[2017-02-14 14:12] Glockshna commented on #62
That's where I'm headed now.

[2017-02-14 16:10] Glockshna commented on #62
How does your GUI handle displaying slots that aren't available? The way I have this configured is each row has 12 columns. A 3x3x3 chest has 729 slots. 729 is not divisible by 12, but it is divisible by 9.

for a 3x3x3 https://github.com/CyclopsMC/ColossalChests/blob/master-1.10/src/main/java/org/cyclops/colossalchests/inventory/container/ContainerColossalChest.java#L74 is trying to create a ches

[2017-02-15 07:43] rubensworks commented on #62
Ah yes, of course, the current codebase assumes divisibility of 9, because of inventory sizes being a multiple of 9.
For a non-multiple of 9, the last row of the chest will be a special case, and [this method](https://github.com/CyclopsMC/ColossalChests/blob/master-1.10/src/main/java/org/cyclops/colossalchests/inventory/container/ContainerColossalChest.java#L90) will have to be adapted a bit to ta

[2017-02-26 18:56] Runesmacher commented on #55
Fixed by YaLTeR in the MouseTweaks mod since version 2.72 (MC 1.11 requested to port to 1.10 as well)
https://minecraft.curseforge.com/projects/mouse-tweaks/files/2385086

[2017-02-27 07:21] #55 closed, assigned to rubensworks

[2017-02-27 21:06] powder commented on #40
Can successfully still reproduce the crash.  In this particular case, I've been able to solve it by turning off WAILA (numpad 1).

[2017-02-28 07:11] rubensworks commented on #40
@powder Have a look at #65

[2017-02-28 23:37] Morpheus1101 commented on #40
Are you using WAILA or HWYLA?  The reason i mention this is WAILA by prof mobius is outdated an hasnt been updated in a while and HWYLA has taken its place and carried the mod on an being regularly updated

[2017-03-01 00:36] NovaViper opened #68 "Inventory Tweaks sorting support"
Hey, could you possible make the chests be able to be sorted by the Crafting Tweaks/Inventory Tweaks mod?

[2017-03-01 06:38] rubensworks commented on #68
There already is Inventory Tweaks support: https://github.com/CyclopsMC/ColossalChests/blob/master-1.10/src/main/java/org/cyclops/colossalchests/inventory/container/ContainerColossalChest.java#L36

[2017-03-01 15:39] NovaViper commented on #68
Oh, I didn't realize that, but whenever I try to use the middle mouse button to sort, it just pulls the items to fill in empty spaces, not sort the actual items by the default settings.

[2017-03-01 15:44] rubensworks commented on #68
@NovaViper Do you see the invtweaks buttons in the gui? Do those work?

[2017-03-01 16:25] NovaViper commented on #68
I do and yeah, I've tried those as well. I can get it line up vertically and horizontally, but can't get the items to actual sort by their characteristics based in the default settings

[2017-03-01 16:33] rubensworks commented on #68
Try reporting to the Inv Tweaks issue tracker.

[2017-03-01 17:09] NovaViper commented on #68
Just sent the issue to them

[2017-03-01 23:11] NovaViper commented on #68
Hey I just got a [response back](https://github.com/Inventory-Tweaks/inventory-tweaks/issues/438)

 From a quick look at that mod, since I'm not very familiar with it, it doesn't appear to be very friendly to the way Inventory Tweaks does sorting -- with the scrollbars there's a big mismatch between what the mod probably knows about (all the items) and what it can actually interact with (what's cu

[2017-03-01 23:45] Kobata commented on #68
I'll throw a more detailed thing here: Inventory Tweaks (for reasons including working on non-modded servers) works by sending click commands more or less as-if you physically clicked the mouse (just *really fast*), so it can only really work on items that are visible on screen, and as such doesn't work very well for things so large they have to resort to scrolling and only showing parts of the co

[2017-03-02 07:16] rubensworks commented on #68
@Kobata Does your API provide a way to sort on a custom list of items? If so, I can probably hook that in.

[2017-03-03 00:29] Kobata commented on #68
No, and it's not really about that -- it *would* know about all the items already if I understand it right (because there's slots) -- but it can't *interact* with them (because not all of them are visible at the same time)

[2017-03-03 00:33] NovaViper commented on #68
Hey, you might be able to add a sort of checking method that scans the number of visible slots on the screen and with each time you scroll, have the mod execute the checking method again and then send that data to Inventory Tweaks (In theory that is)

[2017-03-03 06:41] rubensworks commented on #68
Ok, in that case it's going to be a `wontfix`.

@Kobata If you ever would add a custom hook for sorting, let me know ;-)

[2017-03-03 07:10] Kobata commented on #68
@rubensworks There kinda is? You can do what AE does and do your own sorting using the ordering in the API.

Note that like the rest of the API that's only available client-side, so if you want it to actually persist and not just be a local 'remapping' it's up to you to do the client-server communication.

[2017-03-03 07:14] rubensworks commented on #68
@Kobata Oh ok, in that case I misunderstood you.
Could you point me to the location in the API for that?

[2017-03-03 22:15] Kobata commented on #68
https://github.com/Inventory-Tweaks/inventory-tweaks/blob/develop/src/main/java/invtweaks/api/InvTweaksAPI.java#L70

The `sort` one below won't do what you want, that's just a way of programatically starting the normal Invtweaks sort.

I'll add an extra note that the comparison may not be suitable for use with Java's built-in sorts -- sometimes it seems to get slightly confused as to whether or no

[2017-03-03 22:16] Kobata commented on #68
See https://github.com/Inventory-Tweaks/inventory-tweaks/issues/397 about the possible comparison order thing -- I haven't managed to get into putting enough debug in to track it down.

[2017-03-16 13:15] Hexus-One opened #69 "Taller GUI's?"
Similar to [this request](https://github.com/CyclopsMC/ColossalChests/issues/62), it would be nice to have a taller GUI so we can see more rows at once, similar to AE2/RS's interfaces which stretch vertically to fit the screen.

[2017-03-16 13:16] rubensworks commented on #69
Merging this into #62

[2017-03-16 13:16] #69 closed, assigned to nobody

[2017-03-17 03:52] Lightone opened #70 "Crash Report [java.lang.NullPointerException][ColossalChests-1.11.2-1.5.0]"
happend when place a wall for colossal chest of diamond the game crash (i can not put any block, the game crash instantly )

setup like this

![2017-03-16_22 57 06](https://cloud.githubusercontent.com/assets/2113099/24028362/482254ac-0a9c-11e7-8c7c-c7e06fb1a0d0.png)

<details>
  <summary>Click to expand Crash </summary>
[22:37:21] [Client thread/INFO] [STDOUT/]: [net.minecraft.init.Bootstrap:func_

[2017-03-17 06:59] rubensworks commented on #70
Hmm, this crash should not even be possible...

I'll have to look into it.

[2017-03-22 15:19] wompel opened #72 "can't link"
i don't know why or how but i'm playing on the foolcraft modpack but i can't seem to link my pick to the chest. tried a 5x5x5 and a 6x6x6 plz help

[2017-03-22 15:51] rubensworks commented on #72
I have no idea what you are talking about. 'Linking' chests is not a feature of this mod. You'll probably want to report this to your modpack author.

[2017-03-22 15:51] #72 closed, assigned to nobody

[2017-03-22 18:42] wompel commented on #72
i mean linking tools 2 the chest as seen in a vid of iskall85 foolcraft episode 1 near the end

[2017-03-22 20:16] Reko420 commented on #41
this is still happening... any word guys?

[2017-03-22 22:02] rubensworks commented on #41
@Reko420 This should actually be fixed with the latest RS and CC versions.
Any more information you can give?

[2017-03-23 19:32] #70 closed, assigned to rubensworks

[2017-03-23 19:33] rubensworks commented on #70
Fix will be included in the next CyclopsCore update.

[2017-03-24 19:16] ErnstCreemers opened #73 "Cant link with colossal chest."
Made a 5x5 with 1 core but cant link any tinkers tools with the chest when holding; shift+R button.

[2017-03-24 19:26] rubensworks commented on #73
Not an issue of this mod, duplicate of #72

[2017-03-24 19:26] #73 closed, assigned to nobody

[2017-04-01 23:30] tatoyoda600 opened #74 "Texture overlay offset bug"
On Sky Factory 3 (1.10.2) I created a 3x3x3 chest and for some reason the bottom texture looked weird.
![colossalchestsbug](https://cloud.githubusercontent.com/assets/26845479/24583234/0c7c7b96-171a-11e7-81e4-41ced188afd5.png)

[2017-04-02 09:30] rubensworks commented on #74
A small texture offset mistake apparently.

[2017-04-02 17:43] tatoyoda600 commented on #74
Is there any way to fix this?
Because it happens with every size of chest and so if I make a 16x16 chest there is going to be a giant square underneath which isn't something I want to happen.

[2017-04-03 00:59] rubensworks commented on #74
Of course I can fix this, I won't have time for it anytime soon though.

[2017-04-09 18:56] TheLimePixel opened #75 "[1.11.2] Broken textures with Iron Chests"
On the latest 1.11.2 version of the mod it seems that there's a problem with the Iron Chests mod integration and it displays a missing texture. It's quite surprising how long it took for this to be found.
![2017-04-09_20 49 14](https://cloud.githubusercontent.com/assets/25333164/24840085/f427d8bc-1d66-11e7-99ba-62638c9de4b3.png)

[2017-04-10 10:00] rubensworks commented on #75
In the meantime you can disable iron chest textures from the CC config file.

[2017-04-10 11:33] Mrjalmari opened #76 "1.10.2 full chest causes mob lag"
5x5x5 iron chest full of cobblestone, trying to pipe in more with pipes like in ender IO conduits, causes mob lag. I also tested this with other pipes and storages

[2017-04-10 22:23] rubensworks commented on #76
What is "mob lag"? Do you mean a low TPS?

What piping systems exactly? This is probably related to #58.

[2017-04-13 16:38] Mrjalmari commented on #76
https://youtu.be/zPFQ14MQNdU

[2017-04-18 12:24] KristjanKr opened #77 "1.10.2 Crash with probably inventorytweaks"
When opening colossal chest and i clicked middle click button on my mouse, my game crashed with following crashlog:
https://paste.ee/p/4yF1E

if any more info is needed, then im willing to do so.

Also: https://pastebin.com/kH1SvRnV

[2017-04-18 12:27] VallenFrostweaver opened #78 "[1.11.2 - 1.5.0] Chest render bug & delete of all/most items"
I run a server running the Modded Mischeif II pack and have obtained as much information I can think of from the 2 players that have experienced this issue (both are admins as well). No chunk loaders are around as a side note.  If you need more information, please let me know and I will try to get more. As it is, we are currently thinking about removing the mod due to this instability though I wou

[2017-04-18 17:06] chimericdream opened #79 "Pickaxe with smashing modifier can't break chest blocks"
In Sky Factory 3 for 1.10.2, when I add a diamond hammer to my Tinker's pickaxe, I can no longer break colossal chest blocks with that pick.

[2017-04-19 14:09] rubensworks commented on #79
Sounds like a possible issue with Tinker's then, please report it to their issue tracker.

[2017-04-19 14:12] rubensworks commented on #78
That's strange, never heard of an issue like this before.

So is this always happening to chests when relogging? Or only sometimes?

[2017-04-19 16:07] VallenFrostweaver commented on #78
Sometimes. I can't seem to reliably reproduce. #2 experienced the invisible chest several times before the items went.

[2017-04-20 05:00] rubensworks commented on #78
It's possible though that the chest core tile entity somehow gets corrupted, which could be caused by something else outside of this mod.
But I'll see if I can reproduce it.

[2017-04-20 17:16] legodude17 commented on #72
You have to shift right click on the chest core.

[2017-04-20 19:12] #75 closed, assigned to rubensworks

[2017-04-20 19:14] #74 closed, assigned to rubensworks

[2017-04-23 06:09] rubensworks commented on #77
Is it possible that you're using a mod that changes the player inventory size?

If so, could you try the latest dev build?: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.10.2-1.5.0-156/ColossalChests-1.10.2-1.5.0-156.jar

[2017-04-23 06:37] rubensworks commented on #76
Not something that can be solved on our end, reported to Ender IO: SleepyTrousers/EnderIO#4178

[2017-04-24 16:55] rubensworks commented on #78
@VallenFrostweaver I can't reproduce this issue myself unfortunately.

My only theory is that the core tile entity gets corrupted. This could either be caused by this mod, or something external.
The only way for me to know what goes wrong is to have access to your full forge log, it's possible that there are stacktraces or warnings in there related to tile entity loading or saving.

[2017-04-25 16:03] #79 closed, assigned to nobody

[2017-04-26 12:16] KusanagiRyu commented on #68
after getting some error while Kobata's Inventory Tweaks mod with your mod, I checked with Kobata and he found some codes that not working well;
`at org.cyclops.colossalchests.inventory.container.ContainerColossalChest.getContainerSelection(ContainerColossalChest.java:306)

at org.cyclops.colossalchests.inventory.container.ContainerColossalChest.invtweaks$slotMap(ContainerColossalChest.java)`

And

[2017-04-26 12:20] rubensworks commented on #68
@KusanagiRyu If it's a crash, I'll need the full log. And if so, please create a separate issue for that.

I don't think I understand your latest sentence. This mod is not doing anything related to delaying messages.

[2017-04-26 12:36] Kobata commented on #68
That second comment was about my error outputs, the log he posted to me had a whole bunch of them without any obvious related exception.

[2017-04-26 12:37] Kobata commented on #68
And I'll throw you the link he gave me too: https://drive.google.com/file/d/0BxtS3Obx6GxjMmpadkFReUNYSWc/view?usp=sharing

[code]

[2017-04-26 12:39] rubensworks commented on #68
Seems to be #77.
Could you provide more details there if the latest release (0.5.1) is still causing that crash?

[2017-04-26 13:03] KusanagiRyu commented on #68
there's no CTD at all... it just give me error message whenever i sort with and of the colossal chests and sorting doesn't work.

Edit: Sorry, that error was for 1.5.0, before you released the latest one. now it CTD whenever i press the sort button. I have created another "Issue" thread, Issue #80 .

[2017-04-26 13:59] KusanagiRyu opened #80 "CTD (Crash to desktop) when sort button pressed (Inventory Tweaks mod with Colossal Chest mod v1.5.1"
Hi Ruben,
As mentioned above and in #68 , CTD occured with 1.5.1 (current latest). here's a pastebin link to it; [HERE](https://pastebin.com/kH1SvRnV).

[2017-04-26 14:01] rubensworks commented on #80
Duplicate of #77

[2017-04-26 14:01] #80 closed, assigned to nobody

[2017-04-26 14:01] rubensworks commented on #77
@KusanagiRyu Is it possible that you're using a mod that changes the player inventory size?

[2017-04-26 14:04] KusanagiRyu commented on #77
Nope, i seen that mod in Invasion modpack but i'm not using it in this modpack (Forever Stranded), unless you're refering to Bagginses mod and IronBackpack mod...

[2017-04-26 14:06] rubensworks commented on #77
@KusanagiRyu Can I send you a dev build to try when I can look into it?

[2017-04-26 14:06] KusanagiRyu commented on #77
the one you offered to KristjanKr?

[2017-04-26 14:07] rubensworks commented on #77
@KusanagiRyu No, that one is released already. I'll have to make some more changes in the future when I have time for it.

[2017-04-26 14:07] KusanagiRyu commented on #77
sure. what's the link to it?

[2017-04-26 17:46] rubensworks commented on #77
I'm not able to reproduce this with the latest IT version on 1.10.
@KusanagiRyu I've added some debug information when it crashes, could you try the following dev build?
https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.10.2-1.5.1-165/ColossalChests-1.10.2-1.5.1-165.jar
And send me the full Forge log when it crashes.

[2017-04-27 11:51] KusanagiRyu commented on #77
Here you go Ruben; [Crash Log](https://pastebin.com/i7c8TydP)

[2017-04-27 11:52] rubensworks commented on #77
@KusanagiRyu Can you send me the _full_ Forge log? It contains additional debug information.

[2017-04-27 12:05] KusanagiRyu commented on #77
full? you mean the launcher log? Sure, [here](https://drive.google.com/open?id=0BxtS3Obx6GxjZHFjNllEeEtCUE0)

[2017-04-27 12:09] rubensworks commented on #77
Thanks, that's it. I'll look into it later today.

[2017-04-27 12:10] KusanagiRyu commented on #77
Thanks for your time, Ruben

[2017-04-27 18:35] rubensworks commented on #77
@KusanagiRyu What is the material of your chest? Is it by any chance copper or silver? If not, what are the dimensions of your chest?

[2017-04-29 12:12] KusanagiRyu commented on #77
Sorry for the delay. It's silver. 5x5x5

[2017-04-29 12:20] rubensworks commented on #77
@KusanagiRyu Thanks, in that case I know exactly what's going wrong. Should be fixed later today or tomorrow.

[2017-04-29 13:09] KusanagiRyu commented on #77
Many thanks Ruben

[2017-04-29 16:20] rubensworks commented on #77
@KusanagiRyu Could you try the latest dev build?
This should resolve the issue.

https://dl.bintray.com/cyclopsmc/dev/org/cyclops/colossalchests/ColossalChests/1.10.2-1.5.1-166/ColossalChests-1.10.2-1.5.1-166.jar

[2017-04-29 16:37] KusanagiRyu commented on #77
Ok Ruben, tested and it still give me error message, only slightly different; [here](https://drive.google.com/file/d/0BxtS3Obx6GxjWElTY05YZEp0NFU/view?usp=sharing). See you in 10 hours.

[2017-04-29 17:08] rubensworks commented on #77
@KusanagiRyu I don't see any (colossal chests-related) crash log in there. I also don't see any of the debug information I've added in the previous version.
Could you send me the crash log as well?

[2017-04-30 01:37] KusanagiRyu commented on #77
It didn't crash, it gave error messages when I sort. Give me a moment I recreate the error to make log.

[2017-04-30 02:57] KusanagiRyu commented on #77
ok, Ruben; [here](https://drive.google.com/file/d/0BxtS3Obx6GxjMjVrRVNLQ0xiRHc/view?usp=sharing).

[2017-04-30 08:16] rubensworks commented on #77
@KusanagiRyu Ok, so it's not crashing anymore. In that case this issue is fixed, right?
The sorting not working seems to be #68, which is a not-yet-implemented feature.

[2017-04-30 08:46] KusanagiRyu commented on #77
i see... back to square one then... oh well... better than nothing. looking for forward to your future stable build.

[2017-04-30 08:49] rubensworks commented on #77
My priority is always to get crashes like this one fixed.
Implementing the sorting feature is something I hope to get around to soon, but I have a lot of other things I want to implement first.

Thanks for your help!

[2017-04-30 08:49] #77 closed, assigned to rubensworks

[2017-05-25 11:55] 7eggert opened #81 "Please document the size of the chests"
For chest users, one of the most important functions is the size of the chests they build. I had to dig through the code to see the size of the chest - counting would be harder. Please update either the curseforge page or create a small wiki page (or allow me to do that) do document the chest sizes.

The formula is:
- Number_of_item_Slots = number of rows * 9
- Number_of_Rows = Math.ceil((Math.pow

[2017-05-26 06:20] rubensworks commented on #81
You're right, I should've added this to the curseforge description a long time ago.

Done! :-)

[2017-05-26 06:20] #81 closed, assigned to rubensworks

[2017-06-10 07:19] jazzadellic commented on #78
Just came here to actually report this nearly exact bug. My colossal chest became invisible and it started causing all kinds of weird problems. For one, everything on my toolbar and inventory kept disappearing or changing, as did the contents of the chest. I kept reloading my game world to see if it would fix it, and my toolbar would come back, but the chests remained bugged even on world reloadin

[2017-06-10 08:19] rubensworks commented on #78
@jazzadellic It's possible that there is some chunk corruption going on, which is not necessarily caused by this mod.
But I can't know for sure unless you can provide me with a full forge log.

[2017-06-14 21:57] purestone9 opened #83 "Crash when i try to access the Colossal chest through Simple Storage Network"
Details here
https://github.com/CyclopsMC/CyclopsCore/issues/52

[2017-06-14 22:11] #83 closed, assigned to nobody

[2017-06-15 06:10] rubensworks commented on #83
So, not an issue anymore? Stacktrace doesn't seem to involve this mod in any way.

[2017-06-29 03:46] JadeDrgn opened #84 "Cannot upgrade a 16x16x16 chest from wood to iron."
Everytime I try to upgrade it, it just eats the core and then tells me i'm missing items. Not sure if I'm supposed to progressively upgrade it or not but either way this is buggy as it deletes the core from my inventory everytime I get a new one and try again.

Console output when I try to upgrade with everything in my inventory: https://pastebin.com/VDtFsppB

[2017-06-29 06:47] rubensworks commented on #84
Looks like something I missed during the 1.11 port.

[2017-06-29 19:45] #84 closed, assigned to rubensworks

[2017-06-29 19:46] rubensworks commented on #84
You don't need to progressively upgrade. The issue was caused by the core vanishing.

[2017-07-01 05:01] hextrace opened #85 "[1.12.0] Mod Incompatibility with Thut's Elevators"
**Minecraft Version:**  1.12.0
**Forge Version:** xxx.2387
**Colossal Chests Version:** 1.6.2
**Cyclops Core Version:** 0.10.7
**Crash Report:** https://paste.ee/p/2Mkfw

**Issue:**
Minecraft fails to load properly and crashes out.

**Details:**
To be fair, the crash report was not very informative; however, I was adding mods 1 by 1 in my 1.12 modpack.  Upon downloading Colossal Chests w/ Cyclops

[2017-07-01 07:51] rubensworks commented on #85
I can't reproduce this with only CC and ColChest installed, can you?

If not, this must be caused by another mod. Perhaps a coremod you are using.

[2017-07-01 08:11] hextrace commented on #85
Yeah, there is a mod conflict somewhere -- just not w/ the listed core mods.

[2017-07-01 08:17] rubensworks commented on #85
Can you identify which one?

[2017-07-01 08:35] hextrace commented on #85
Working through it right now.

[2017-07-01 08:57] hextrace commented on #85
Found it.  During phase three Colossal Chests will crash when Thut's Elevators is enabled.

[2017-07-01 08:58] rubensworks commented on #85
Can you report this to their issue tracker as well, and link back to and from this issue here?

[2017-07-01 09:01] hextrace commented on #85
Doesn't look like Patnevis has an issue tracker; however, I will report this issue on their Curseforge page.

EDIT: I'm a nub; Curseforge auto-magically puts things into a mobile format when a browser window is sized a certain way.  Found the issue tracker.

[2017-07-01 21:56] Thutmose commented on #85
Looking into this on my end, not sure what is going on, it looks like it might be an issue related to my EnumType for my lift blocks, I will look into the differences between that EnumType and my others used by Pokecube.

[2017-07-01 22:11] Thutmose commented on #85
I did find some obsolete stuff that I was doing in the Thut's Elevators code, but even after removing that, it still seems to crash.

The following sets of mods work:
ThutCore 5.0.1
CyclopsCore 0.10.7
Thut's Elevators 6.0.1 (recompile with less crap in the enum)

ThutCore 5.0.1
CyclopsCore 0.10.7
ColossalChests 1.6.2

but this set has that crash
ThutCore 5.0.1
CyclopsCore 0.10.7
ColossalChests 1.6

[2017-07-02 01:08] Thutmose commented on #85
I have fixed this on my end.

![image](https://user-images.githubusercontent.com/2363472/27766532-1b2ee5c4-5ea1-11e7-8a0b-e4c21a6b09b5.png)

I have no idea why this was only crashing when your mod was installed, it should have always been crashing... I had a custom state mapper still being registered in preinit.

Uploading fix for my end of this, so you can close the issue.

[2017-07-02 01:11] hextrace commented on #85
@Thutmose Thank you for taking a look into this and the prompt responses.

[2017-07-02 01:17] #85 closed, assigned to nobody

[2017-07-02 07:44] rubensworks commented on #85
@Thutmose Awesome, thanks! :-)

[2017-07-05 20:02] BenjaminCo opened #86 "Moving items on scroll"
I've noticed that scrolling on items put them out/in of the chest. Cuz of the many slots i scroll down or up and it's doing mess in my inventories. It's maybe a native minecraft feature but it would be great to have a button on colossal chest ui to disable/enable this feature.

[2017-07-06 06:12] rubensworks commented on #86
As far as I know this is a feature of inventory tweaks, so you might be able to disable it there.

[2017-07-06 06:12] #86 closed, assigned to nobody

[2017-07-08 17:15] Boomflex opened #87 "[1.12] Not being able to craft any chest Interface from Colossal Chests."
https://github.com/AllTheMods/ATM-3/issues/11

CC version: 1.12-1.6.2
forge version: 14.21.1.2396

As said in the title, unable to craft any chest interface.

![image](https://user-images.githubusercontent.com/22868795/27987683-79598aba-6409-11e7-92e7-9f525624dba7.png)

[2017-07-11 08:34] rubensworks commented on #87
Fixed in CyclopsCore 0.10.8

[2017-07-11 08:34] #87 closed, assigned to rubensworks

[2017-07-12 14:35] satreix opened #88 "Dependency on CyclopsMC/CyclopsCore not specified in mcmod.info"
I do not get the specifics of the "mcmod.info" file, but aren't we missing a runtime dependency on https://github.com/CyclopsMC/CyclopsCore in the "dependencies" section of the file?

[2017-07-12 14:39] rubensworks commented on #88
Forge accepts more dynamic dependency declaration using the `@Mod` annotation. But I guess I can add it to `mcmod.info` as well.

[2017-07-13 08:41] satreix commented on #88
The idea behind this is to work with package managers that would like to install your dependencies. Reading the _mcmod.info_ file is pretty easy for them. I am not that familiar with the `@Mod` forge annotation, where are we using this is the sources? Where can I get documentation for this feature?

Thanks a lot.

[2017-07-13 08:43] rubensworks commented on #88
@satreix https://mcforge.readthedocs.io/en/latest/gettingstarted/structuring/#what-is-mod

[2017-07-13 10:13] satreix commented on #88
RTFSources then: [minecraftforge/fml/common/Mod.java](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/common/Mod.java).

In the case of [ColossalChests 1.12](https://github.com/CyclopsMC/ColossalChests/tree/master-1.12), we specify the following (see [ColossalChests.java#L35-L42](https://github.com/CyclopsMC/ColossalChests/blob/master-1.12/src/main

[2017-07-13 10:56] rubensworks commented on #88
Yes, that's how Forge handles it.

Furthermore, Forge even allows dynamic construction of the `mcmod.info` data, so you can not even rely on that.

The safest way to collect all mod metadata is probably by running it (possibly in a restricted sandbox), and extracting the `@Mod` data.

[2017-07-13 21:59] TheLimePixel opened #89 "[1.12] Broken textures with Iron Chests"
Well the same problem was on the 1.11.2 version a month ago and now it's on the 1.12 version. Simply, with iron chests installed, all chests besides the wooden one have a broken texture.

 Also, if you have a crafting table next to a colossal chest and look at it from the right angle, the rendering slightly messes up:
 https://cdn.discordapp.com/attachments/334673790028087299/335060350816878592/ef

[2017-07-14 05:54] rubensworks commented on #89
It looks like IC changed the location of their textures *again*, will have to update the link.

Regarding the latter, than seems to be a vanilla issue, as we just call the vanilla chest renderer.

[2017-07-14 16:09] #89 closed, assigned to rubensworks

[2017-07-18 22:12] koreezmo opened #90 "Game Crash when throwing items out of the Colossal Chest"
when trying to empty trash items out of the chest by hand it crashes the game after throwing out more than a couple items

[2017-07-19 05:17] rubensworks commented on #90
Please provide your crashlog and versions.

[2017-09-14 07:45] rubensworks commented on #90
Can't do anything without a crash log.

[2017-09-14 07:45] #90 closed, assigned to nobody

[2017-09-14 07:45] rubensworks commented on #41
Considering this as resolved.

[2017-09-14 07:45] #41 closed, assigned to nobody

[2017-09-14 15:08] rubensworks commented on #88
All Cyclops mods now include a `requiredMods` entry in the `mcmod.info` file, as described by https://mcforge.readthedocs.io/en/latest/gettingstarted/structuring/#the-mcmodinfo-file.

[2017-09-14 15:08] #88 closed, assigned to rubensworks

[2017-09-15 08:16] Mattabase commented on #41
Sorry, yeah I think it is fair to say this is resolved.

[2017-09-15 12:30] raoulvdberge commented on #41
RS removed integration for this API, so this issue is not resolved.

[2017-09-15 19:16] rubensworks commented on #41
@raoulvdberge What was your reason for removing it? Did it cause any issues?

[2017-09-15 19:23] raoulvdberge commented on #41
It didn't support ore dictionary extraction, so it still fell back to slow extraction for autocrafting for example.

It also made the codebase overall much uglier, because I had to special case for Cyclops everywhere, while it wasn't even that much of a used external storage.

It also didn't have any methods to get a list of items in the storage, leading to a dependency on CyclopsCore.

Due to thi

[2017-09-15 19:30] rubensworks commented on #41
Perhaps I should look into making some kind of capability-based item handler. So you could request access based on certain indexing types, such as oredict, NBT, item, ... Will think about this a bit.

For this, you would have to fallback to the regular item handlers, which Colossal Chests also expose.

Ah yes, this is not a guarantee ;-)

I think basic support for slotless item handler would still

[2017-09-16 22:11] dmodoomsirius opened #91 "Debug from Mekanism spamming console log about caps for Colossal Chests"
https://github.com/aidancbrady/Mekanism/issues/4691

https://gist.github.com/dmodoomsirius/f08b00d79e00053ddf157a8e9f18615a

[2017-09-17 14:27] rubensworks commented on #91
Does this only happen on an interface? Or also on the core?

[2017-09-20 08:41] gefailter opened #92 "Crash when placing Colossal Chest Blocks"
CC version: 1.12-1.6.5
Forge version: 2485
Server: true

When trying to place any wooden colossal chest block, a player crashes and gets this crash log: http://paste.feed-the-beast.com/view/c077f498

If anything else is needed, I'll try to provide it.

[2017-09-20 08:45] rubensworks commented on #92
It crashes on it not finding a method, while that method in fact does exist.
So there must be some other mod messing with it.

Can you try reproducing this without any other mods installed? (Except for CyclopsCore of course).

[2017-09-20 09:04] gefailter commented on #92
Happens in SP as well with only CC as the installed mod, I tried placing an un-colossal chest and got this; http://paste.feed-the-beast.com/view/1b98f578

[2017-09-20 09:05] rubensworks commented on #92
I'll try it myself soon, but my guess is that something might be going wrong on your end.

[2017-09-20 09:13] gefailter commented on #92
Thank you, good sir, well that'd mean there's something wrong with 2 players since the first crash was someone from the server.

[2017-09-20 18:04] #92 closed, assigned to rubensworks

[2017-09-21 19:07] #91 closed, assigned to rubensworks

[2017-09-21 22:21] Boomflex opened #93 "[1.12.1] Crash when placing via the Builder from RFTools"
Colossal Chests v1.6.5
Cyclops Core v0.10.15
Forge v14.22.0.2464

Crash when placing Colossal Chest blocks with the Builder from RFTools.

https://pastebin.com/TjXHLueA

[2017-09-22 06:30] rubensworks commented on #93
Duplicate of #92, this was fixed in release 1.6.6.

[2017-09-22 06:30] #93 closed, assigned to nobody

[2017-09-29 23:02] ZephaniahNoah opened #94 "Visual Glitch"
MC: 1.12.2
ColossalChests: 1.6.7
![chest](https://s26.postimg.org/4p2sccr53/2017-09-29_15.58.57.png)
Rarely happens.

[2017-09-30 05:35] rubensworks commented on #94
This is caused by another mod (I don't know which one) that is not correctly using the OpenGL environment in its TESR.
This issue can also occur on vanilla chests.

I suggest removing blocks in the area until it is fixed, that block's mod will be the cause of it.

[2017-09-30 05:35] #94 closed, assigned to nobody

[2017-09-30 20:50] ZephaniahNoah commented on #94
That is a colossal vanilla chest. I'm using a resourcepack. It happens when they're in a certain position on the screen and I look at a specific angle. Most of the time it looks fine.

[2017-10-08 03:16] JSchober93 opened #95 "Items disappearing from Colossal chest"
For reference I play SMP with the Foolcraft 2 pack through MultiMC and I have had different sized colossal chests with this happening. I never use the core as a pseudo-chest for moving, I've always piped items using ender-io pipes if I want to move or upgrade(of which this is not the issue).

I currently am using a storage bus with the AE2 network linked to a 7x7 chest and I have had several items

[2017-10-08 06:30] rubensworks commented on #95
This looks related to a Forge issue (MinecraftForge/MinecraftForge#4413). Unfortunately, they won't backport the potential fix for this to 1.10. So your best bet is to update to 1.12 if you want to avoid these rare issues.

I leave this open for now, in case anyone can provide a way to consistently reproduce this. Preferably with just Vanilla+CC.

[2017-10-28 04:06] ouroborus opened #96 "Transferring between chests is CPU expensive"
I have a particularly beefy server (see [this reddit post](https://www.reddit.com/r/allthemods/comments/755bsq/cant_keep_up_server_performance_part_2/) for specs) and the minecraft server running on it uses hardly any CPU (typically about 12%).

I'm attempting to transfer inventory from a 16^3 wooden chest to a 16^3 diamond chest. CPU for the core the server is running on is now pegged at 100% and

[2017-10-28 04:14] rubensworks commented on #96
Yes, this can be expensive. This is simply due to these chests having a huge amount of slots, not really much that can be done about that.

It however mainly depends on the type of item transfer mod you are using.
Integrated Tunnels for instance works really well with this mod, so you should see better performance with this. Furthermore, you can tweak the tick rate with this.

Note that this mod h

[2017-10-28 04:14] #96 closed, assigned to nobody

[2017-10-28 04:32] ouroborus commented on #96
The upgrade/downgrade tool doesn't permit relocation.

It seem like other mods handle large inventory transfers without this issue being anywhere near this bad.

I think, at minimum, it might be useful to set the default maximum chest size to something more reasonable if performance will remain anywhere near the current level for the foreseeable future (assuming that chest size has a significant i

[2017-10-28 04:54] rubensworks commented on #96
Sorry, nothing much I can do about this.

As most things in MC are slot-based, and this mod has a huge amount of slots, this results in a high computational complexity when you want to transfer _all_ items at the same time.

[2017-11-14 06:50] rubensworks commented on #95
Forge considers this fixed, if anyone would encounter this problem with Forge 1.12.2, please comment here.

[2017-11-14 06:50] #95 closed, assigned to nobody

[2017-12-27 21:46] npgx commented on #68
i honestly think all of this could be easly solved by creating a custom sorting button inside the chest, trying to make something that is not supposed to work on scrollable inventories isn't really gonna work (sorry @Kobata )
the only things is to make sure that this algorithm doesn't make items disappear at random, maybe comparing the raw number of items from before and after and if it isn't equa

[2018-01-11 05:06] zzyasia opened #99 "crash when using "+" of jei in tinker's craft station"
crash when using "+" of jei in tinker's craft station if the colossalchest is put near to it.It's not always happen.And no crash report,by the way.

[2018-01-11 07:28] rubensworks commented on #99
Crashes always produce a crash report, otherwise it's not a crash.

So what exactly happens in your case?

[2018-01-20 12:29] #99 closed, assigned to nobody

[2018-01-26 19:19] KidsDontPlay opened #100 "Incompatbility between BetterBuildersWands and ColossalChests"
Hi,
When I try to extend the iron chest wall with the wand it places copper chest walls instead.

ColossalChests-1.12.2-1.6.8
CyclopsCore-1.12.2-0.11.1
BetterBuildersWands-1.12-0.11.1.245+69d0d70
Forge 14.23.1.2590

https://github.com/portablejim/BetterBuildersWands/issues/64

[2018-01-26 19:29] rubensworks commented on #100
Haven't used that mod myself, but I'm pretty sure the mod has a config for blocking that behaviour. (FYI, all walls are the same block/item, just with different metadata)

In any case, not an issue with CC.

[2018-01-26 19:29] #100 closed, assigned to nobody

[2018-02-14 20:27] lavraleksej opened #101 "[1.12.2] GUI display error/crash while extracting items with a hopper"
#### Issue type:
- :bug: Bug

____
#### Short description:
Colossal Chest fails to display its contents while items are being pulled out of it into a Multi-Storage EnderLink chest with a hopper, second EnderLink chest is placed in a different dimension
The chest is a 4x4 Wooden chest, with two interfaces
Items are intact and continue being transferred, reloading fixes the display issue

#### Expec

[2018-02-22 11:00] jamzam90 commented on #101
I have also experienced this issue. However it is not plugged into any other systems including hoppers.

[2018-02-25 07:33] #101 closed, assigned to nobody

[2018-02-25 07:44] jamzam90 opened #102 "Bug: Crashing while 2 players have a colossal chest open in lan"
#### Issue type:
- :bug:
____
#### Short description:
When ever two player in lan are accessing a giant chest the items no longer render in the inventory, when an item is placed in.

#### Expected behaviour:
Being able to use the chest regardless of whom else is accessing it at the time.

#### Actual behaviour:
Crashing when items are inserted while another player is in the chest and items do not

[2018-02-25 07:46] rubensworks commented on #102
I literally _just_ released a new version that fixes this, duplicate of #101. A new version should appear soon on curseforge.

[2018-02-25 07:46] #102 closed, assigned to nobody

[2018-02-25 07:48] jamzam90 commented on #102
Woops, forgot about the other one and thanks for being so quick, now I just need to wait for the pack thats using it to update.

[2018-03-02 15:29] 7eggert opened #103 ":heavy_plus_sign: set direction of chest"
I can't see a way to determine the direction of the collossal chest.

By placing the core or by facing in a specific direction while completing the chest, I tried to make it open in a desired direction, but the lid opens in a seemingly random direction.

Versions:

- This mod: ColossalChests-1.10.2-1.6.0.jar
- CyclopsCore: CyclopsCore-1.9.4-0.10.4.jar
- Minecraft: 1.10.2
- Forge: forge-1.10.2-12.1

[2018-03-02 22:53] rubensworks commented on #103
Sorry, 1.10 is not maintained anymore. this is possible in 1.12

[2018-03-02 22:53] #103 closed, assigned to nobody

[2018-03-02 22:54] rubensworks commented on #103
Also, this should actually be possible in 1.10 already based on the core position.

[2018-03-03 02:14] 7eggert commented on #103
I didn't find any change in the documentation so I still would not know how to chose a direction.

[2018-03-03 03:21] rubensworks commented on #103
The position of the core indicates the direction of the chest.

[2018-03-06 11:46] 7eggert commented on #103
It should, but the chest opened north with the core in the NW corner and south with the core in the NE corner, while a 2⋅2 chest with the core in the NE corner opened west. (AFAIR; it's burried)

Placing the core while facing N/S/W/E did not change the direction.

[2018-03-06 12:04] rubensworks commented on #103
Yeah, that was a bug in the 1.10 version, it's fixed in 1.12, won't be backported.

[2018-03-17 01:31] ghost opened #104 "Wrong blockplacing with unbreakable wand"
#### Issue type:

- :bug: Bug

____
#### Short description:

https://files.pudding.tk/tuz8wc8by4.mp4 see video <.<

#### Expected behaviour:

that exactly the blocks are created, which should actually be used.

#### Actual behaviour:

I tried with an unbreakable wall to place the colossal chests. However, not the blocks were used that you actually need. although the right blocks (in this case the

[2018-03-18 01:04] rubensworks commented on #104
Please report this to the wands mod, this is not a Colossal Chests issue.

Feel free to reference the issue here, I might be able to help.

[2018-03-18 01:04] #104 closed, assigned to nobody

[2018-03-18 12:02] ghost commented on #104
i think the mod maker doesnt work anymore on this mod... last update jun 2017

[2018-03-18 22:57] rubensworks commented on #104
Nothing I can do about it on my end, sorry.

[2018-03-27 06:39] nullKomplex opened #105 "Opening a Chest in Spectator causes 3 different bugs."
So there are two use cases and three bugs.

1. I can confirm that: Opening a Colossal Chest successfully in Spectator mode triggers the animation and sound for all nearby players, as if the chest was opened normally.
2. Opening too big of a Colossal Chest disconnects you for too large of a packet. Honestly I expected this behavior and am only reporting this for (I really can't think of the word I

[2018-03-27 21:56] rubensworks commented on #105
Thanks for reporting!

[2018-03-31 15:07] SanteriLoitomaa commented on #68
So is there going to be some sort of support between these mods (1.10.2)? At the moment when I try to sort things by rows or columns, the chat gets an error message saying "InvTweaks [ERROR] [3] Failed to sort container: null (l101 in HandlerSorting.java)" and as previously said nothing seems to actually "sort", empty slots just get filled when using the default sort. I'd love to see these mods wo

[2018-03-31 17:37] RiftomeR opened #106 "Crash"
#### Issue type:bug
#### Short description:
I have been trying to place block from colossal chest using integrated tunnels system.
#### Expected behaviour:
Place block from colossal chest.
#### Actual behaviour:
Minecraft has crashed.
#### Steps to reproduce the problem:
Make an integrated tunnels system, that will just place all blocks from colossal chest.
____
#### Versions:
- This mod: 1.12.2-1

[2018-03-31 22:19] rubensworks commented on #68
@Santtinen This is not on my roadmap at the moment, so this is not coming any time soon. (Definitely not for 1.10, as 1.12 is the main target now)

But I'm open to PRs.

[2018-04-01 10:41] SanteriLoitomaa commented on #68
@rubensworks I understand. How about making your own sorting method for the newer versions then since the way InvTweaks is programmed doesn't really work with scrollable containers? I'll be changing versions anyway once the mods I use get updated. I just feel like being able to sort the colossal chests would improve the mod immensely. I think it could be done with @Kobata 's sorting list as a base

[2018-04-01 10:48] rubensworks commented on #68
That's the problem indeed. I am maintaining quite a few mods at the moment, for which bugfixes have a priority. I don't have a lot of time left for new features and enhancements unfortunately. But if you're up for it, a PR for this would be more than welcome.

[2018-04-01 10:59] SanteriLoitomaa commented on #68
@rubensworks Great, I'd love to try it out. I just want @Kobata 's blessing for this as well since what I'm planning is basically a port.

[2018-04-02 10:41] Kobata commented on #68
If you read my comments above, you don't really need to do a 'port' (the full sorting code is massively overkill anyway, a lot of what it does is for handling features that only work on the *player* inventory) -- just hook the comparison to a fairly standard sort, albeit be careful of the potential bug listed above.

If you do hit that bug information on the specific pair of items would be nice so

[2018-04-03 08:15] SanteriLoitomaa commented on #68
@Kobata Well, I didn't mean like a full port. Just the default sort button for the chest since that is the one I believe people use the most. And instead of using the cursor for the sorting, the chest would just get sorted directly (since the server needs to have the mod anyway). That's basically what I'd like to do but since I basically have no idea what I'm doing if you have a better idea, do te

[2018-04-03 10:07] Kobata commented on #68
There's only one (unified) sort in invtweaks, and it does a lot of stuff you really, really don't care about for this usage (which also makes it impossible to really use a 'normal' sort internally because it means there's nothing even resembling a real ordering when you can tell it to put the same item in two non-adjacent slots in the player inventory).

Like I said,  for the specific case of mimi

[2018-04-04 15:51] SanteriLoitomaa commented on #68
@Kobata Alright I see what you mean. Guess I misspoke a little. What I mean is that I would like to use the way InvTweaks does sorting as in the order items should be in the chest. That is the part I wanted to port. It would look the same but work differently. This would mean that the compatibility with InvTweaks could just be removed.

[2018-04-04 17:06] Kobata commented on #68
Even this part, while there's a 'comparison function' available as an API function, is fundamentally dependent on client config files, since the first, overriding factor, is derived from the order items appear in [this file](https://github.com/Inventory-Tweaks/inventory-tweaks/blob/develop/src/main/resources/assets/inventorytweaks/itemtree.xml), which can be edited by the user as well. (Items not

[2018-04-04 17:44] SanteriLoitomaa commented on #68
@Kobata So would it be possible to check the players itemtree.xml, make a new inventory with said changes and then tell the client/server to set it on the chest or would that just get too complicated?

[2018-04-04 19:48] Kobata commented on #68
At that point you're already assuming the player has the file so you might as well just pull in the invtweaks interface and call the compare on that rather than trying to re-implement it (you can always use reflection to avoid a direct dependency at the cost of possibly being a bit slower -- you can get the object off of some FML function to call things on).

You will have to do *something* to syn

[2018-04-04 20:13] SanteriLoitomaa commented on #68
That is pretty much what I want to do, using InvTweaks compare and maybe use the interface and you are correct about the inventory... Hmm... Let's assume we have both Colossal Chests and InvTweaks installed. Would it be possible to make the InvTweaks sort button execute some other method than the InvTweaks one when in a colossal chest (like a sort method in the Colossal Chests mod)?

[2018-04-04 21:01] Kobata commented on #68
Not directly, you'll need to make your own button (and just not use the things that make invtweaks add its own buttons).

[2018-04-04 23:26] SanteriLoitomaa commented on #68
I see. A lot of stuff to figure out then. As soon as I'm done with this school year and get rid of this cold I'll start working on this properly. For now, all I can really do is planning.

[2018-04-06 05:05] rubensworks commented on #105
It looks like gui handling in spectator mode is hardcoded in MC, and Forge does not provide any hooks to change that behaviour. So in order to fix this, a Forge PR will have to be submitted. I'll look into this when I have time, but as spectator mode is used rarely compared to survival mode, I'll give this a lower priority.

[2018-04-06 05:06] #106 closed, assigned to nobody

[2018-04-19 13:56] thelapisfox opened #107 "Breaking Interface Bug"
#### Issue type: Bug

____
#### Short description:
Breaking an interface drops all items and deletes some. Mod Pack: Modern Skyblock 3: Departed

#### Expected behaviour:
Chest should remain as is, with inventory still stored within the Core. Items should not spill out nor be deleted.

#### Actual behaviour:
Upon breaking an interface in order to resize the chest, all items spill out. Upon restori

[2018-04-19 13:58] rubensworks commented on #107
Must be a recent regression, as this was definitely not the case in the past. Thanks for reporting.

[2018-04-21 13:29] #107 closed, assigned to nobody

[2018-06-02 17:33] wraithlet opened #108 "Mod interaction wipes metadata"
#### Issue type:

- :bug: Bug

____

#### Short description:

When moving the chest core (any variant of core) using the "Cardboard Box" from Mekanism, the contents of the core are wiped. Additionally, when the box is used on any CC block, it will iterate through multiple materials each time the box is added and removed from the colossal block.

#### Steps to reproduce the problem:

1. Use Colossa

[2018-06-03 07:47] rubensworks commented on #108
Could you link to the issue in Mekanism?

[2018-06-03 13:24] wraithlet commented on #108
https://github.com/aidancbrady/Mekanism/issues/5072

[2018-06-14 08:01] thiakil commented on #108
Mind telling us what's not working metadata wise, instead of just going 'hmmf not my problem'

[2018-06-20 04:51] Pontiac76 opened #109 "Game Crash when placing core in ATM3"
#### Issue type:

- :bug: Bug

____

#### Short description:

Game crashes hard when placing at least the wooden core (Playing in survival).  Playing local in single player.

#### Steps to reproduce the problem:

1. Place down 7 of the 8 required block to make a 2x2 chest
2. Place down the core, watch the core not be placed, game proceeds to crash
3. Reload and wait another 5 minutes.
4. After sta

[2018-06-20 04:53] Pontiac76 commented on #109
AFTER the fact of posting this, something new just showed up.

If I break one of the walls off the 2x2, then put the wall back, the chest forms, and I have access to it.

So for experimentation, I placed JUST the core, no other walls, and the game dies on 1.6.10.  (Downgraded to see if that was the problem)

[2018-06-20 06:12] rubensworks commented on #109
Seems like a major bug, strange that this hasn't been reported before, will look into this soon.

[2018-06-20 13:30] Pontiac76 commented on #109
Just for more follow up,

I found that this isn't related to just the wooden chest, but, also had the crash when placing the copper core while in ATM3.

I also went and created an instance that just had Colossal Chests and JEI and I could create chests, and place the cores solo and no crash happened.  This seems to be some kind of conflict in ATM3.

[2018-06-20 13:32] rubensworks commented on #109
In that case, could you report this to the authors of ATM3 as well? (Be sure to link back to this issue)

[2018-06-20 13:41] Pontiac76 commented on #109
I did last night.  I was on Discord in both the ATM3 chat channel as well as in your ColossalChests channel and linked to here.  Not sure of what other methods to notify them with yet.  (At work now, can't check)

[2018-06-20 13:42] rubensworks commented on #109
This would be the place I guess: https://github.com/AllTheMods/ATM-3/issues

<blockquote><img src="https://avatars0.githubusercontent.com/u/26031972?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/AllTheMods/ATM-3">AllTheMods/ATM-3</a></strong></div><div>ATM-3 - Official ATM3 Repo</div><

[2018-06-20 13:52] Pontiac76 commented on #109
Thanks.

[2018-06-21 00:18] Pontiac76 commented on #109
After having Twitch use the most recent version of Java, I'm able to place stuff now.  Closing this guy.

Thanks.

[2018-06-21 00:18] #109 closed, assigned to nobody

[2018-06-21 06:11] rubensworks commented on #109
Ah, that's good news. An `Unexpected error` is indeed typically caused by Java itself.

[2018-07-02 07:18] AkashaP opened #110 "Uncolossal chest + refined storage = permanent crash"
#### Issue type:

- :bug: Bug

____

#### Short description:

Connecting a refined storage external bus pointing to an uncolossal chest with an active refined storage system causes a crash (Ticking block entity)

The game crashes when the world is loaded back up, making it impossible to play anymore.

#### Steps to reproduce the problem:

1. Create a simple refined storage system with a controller

[2018-07-02 07:23] rubensworks commented on #110
Yeah, that's a problem on RS's end, they assume that the uncolossal chest is a colossal chest as well, which is not the case.

I would suggest to report it to their repo, but I think they don't support 1.10 anymore.

[2018-07-02 07:23] #110 closed, assigned to nobody

[2018-07-15 12:09] rubensworks commented on #108
As mentioned on the Mekanism issue tracker, CC blocks should be blacklisted to be moved using the cardboard box. (Unless the whole multiblock could be stored at once in the box)

[2018-07-15 12:09] #108 closed, assigned to nobody

[2018-09-22 09:08] xylonh opened #113 "Odd Lag in Sky Factory 3"
#### Issue type:

- :bug: Bug

Odd Lag in Sky Factory 3 Started when I started using the chest, has not happened on previous map.

#### Short description:

After I began using the chest, i noticed lag immediately even with very few items (<1000). I kept playing til end game but the lag keeps getting worse, taking more than a second to simply interact with any items in the chest not to mention craf

[2018-09-22 12:29] rubensworks commented on #113
What do you mean by this? This mod does not allow you to do any crafting directly. Are you using any other mod for this? Because that mod may be the one that is producing the lag.

[2018-09-22 22:48] xylonh commented on #113
You're absolutely right, I'm using refined storage to access the chest, completely forgot that was a separate mod. My bad.

[2018-09-22 22:48] #113 closed, assigned to nobody

[2018-09-30 00:51] bloorocksDotD opened #114 "Skipping tiers(Exploit)"
#### Issue type:
Exploit to skip tiers(And since the items have EMC values basically a dupe)
- :bug: Bug

____

#### Short description:
The wands from better builders wands mod allow you to skip chest tiers & dupe infinite EMC

#### Steps to reproduce the problem:

1. ... Place a row of Silver chest wall blocks with more in your inventory
2. Use a diamond wand on the line to try and place more sil

[2018-09-30 07:08] rubensworks commented on #114
Thanks for the issue, but this sounds like a problem with the better builders wands mod. Could you report it to their issue tracker instead?

[2018-09-30 07:08] #114 closed, assigned to nobody

[2018-10-01 02:04] bloorocksDotD commented on #114
Sure thing :)

[2018-10-11 06:58] grannymc opened #115 "9x9 buried chest won't stay open [1.12.2, Stoneblock 1.0.10 Beta]"
#### Issue type:

- :bug: Bug

____

#### Short description:

I built a 9x9x9 chest buried 8 deep in stone with a 9x9x9 open ceiling above. The chest would not stay open unless I dug down one level in front of it and stood on that level.

#### Steps to reproduce the problem:

1. See descrfiption.

#### Expected behaviour:

Stay open until ESC key selected.

#### Versions:

- This mod: 1.12.2-1.16.

[2018-10-11 06:59] grannymc commented on #115
Correction: Stoneblock 1.0.19 Beta

[2018-10-11 19:14] rubensworks commented on #115
What do you mean exactly with _would not stay open_?

Does it visually close?
Or can you not open the GUI?

[2018-10-14 07:31] #78 closed, assigned to nobody

[2018-10-25 20:10] #115 closed, assigned to nobody

[2018-10-29 21:00] FallenEagle1 opened #116 "Interaction with tinker's crafting station and colossal chest can delete your inventory"
#### Issue type:

- :bug: Bug

____

#### Short description:

Interesting interaction between tinkers construct and colossal chests. Not sure which side the issue is on, but was leaning towards this mod, partly because of other interactions as well, will get to those. This was tested with just colossal chests and tinkers to start with, then with AE2 and refined storage afterwards.

When a chest is

[2018-10-30 07:07] rubensworks commented on #116
Thanks for reporting, I'll look into it as soon as possible!

[2018-10-30 19:01] #116 closed, assigned to nobody

[2018-10-30 19:03] rubensworks commented on #116
The deletion part had apparently already been fixed in-dev. The incorrect exposure of slots for an incomplete chest has been fixed now as well.

I won't release this fix just yet, as a lot of changes in the background are being worked on, which will be released in a couple of weeks.

[2018-11-17 00:26] Furious1964 commented on #95
Still happening in 1.12.2.

[2018-11-17 07:15] rubensworks commented on #95
@Furious1964 Any more information you can give me?

[2018-11-17 11:34] Furious1964 commented on #95
Bug Report

I put items into the chest via an Ender pouch/chest and the items show up but when I finished adding more, I lost 70% of everything I had.
Steps to Reproduce (for bugs)

    Added items.
    Added more items and look into the AE2 System.
    Logged of and then on again and I lost stuff again.
    Replaced AE2 System with RFTools Storage Scanned and same thing.

Logs

    Client/Server

[2018-11-17 11:39] Furious1964 commented on #95
Updated info.

[2018-11-18 06:48] rubensworks commented on #95
Ok, thanks for the info, this sounds like #116 then.

[2018-11-18 08:12] Furious1964 commented on #95
It's not quite the same as I didn't break any side of the chest.

[2018-11-19 17:04] A-T-L-A-S opened #117 "[feature request] Add config for changing inventory size"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

I was making a modpack and the colossal chests where a bit overpowered. I was hoping for a config that adds an inventory size multiplier or something to turn down the inventory size. A 3x3x3 wooden colossal chest can hold like three thousand different items (probably not that much but you know what I mean). And i

[2018-11-25 17:29] Shatokan0 opened #118 "Applied Energistics 2 storage bus Interaction"
**** Issue type:

- mod interaction

____

#### Short description:

Each storage bus attached to a colossal chest will show the inventory to a network separately, 2 iron in the chest will show as 4 iron while 2 bus's are attached and 6 iron with 3 bus's attached etc.

#### Steps to reproduce the problem:

multiple storage buses on a chest using 1 applied energistics 2 network

1. ...

#### Expecte

[2018-11-25 19:19] josephcsible commented on #118
A related bug is McJtyMods/RFTools#1583. This could be either our fault or theirs. On their side, they need to not add two `IItemHandler`s to their network if one `equals()` the other. On our side, we need to make sure `equals()` and `hashCode()` indicate equality for all `IItemHandler`s that refer to the same colossal chest.

Vanilla double chests handle this correctly, so we should test to see i

[2018-11-26 07:19] rubensworks commented on #118
Easy workaround: hook up only a single storage bus to the chest :-)

[2018-12-02 21:10] josephcsible commented on #118
So this is broken everywhere. In AE2, they're not doing the necessary check, as you can confirm by hooking two storage buses up to both blocks of a vanilla double chest. In Colossal Chests, we're creating different capabilities for each interface block instead of just using the ones from the core, as you can confirm by using an RFTools Storage Scanner near a colossal chest with interfaces. In Cycl

[2018-12-07 14:01] IMarvinTPA commented on #68
The current compare function should be obeying the comparator contract.  If you run into any troubles though, you may wish to borrow the "TheHuntForTheOffendingItems" functions from https://github.com/mezz/JustEnoughItems/blob/7d6f1062a49e477f72e736c761e287f5861f529f/src/main/java/mezz/jei/ingredients/IngredientListElementFactory.java which will help you find the 2 or 3 items that fail the tests.

[2019-02-24 08:28] rubensworks commented on #118
Considering this fixed on our end.

[2019-02-24 08:28] #118 closed, assigned to josephcsible

[2019-02-24 08:33] #76 closed, assigned to nobody

[2019-02-24 08:34] rubensworks commented on #64
Won't fix. I have a new mod for that: https://minecraft.curseforge.com/projects/integrated-terminals

<blockquote><img src="https://media.forgecdn.net/avatars/thumbnails/165/801/120/120/636694374476455275.png" width="48" align="right"><div>Minecraft CurseForge</div><div><strong><a href="https://minecraft.curseforge.com/projects/integrated-terminals">Integrated Terminals</a></strong></div><div>Term

[2019-02-24 08:34] #64 closed, assigned to nobody

[2019-04-12 09:46] syberdragn opened #121 "InventoryTweaks"
The mod works everything about it works but when applied to a server it wont auto sort. Any ideas to make it work?

[2019-04-12 09:48] rubensworks commented on #121
InventoryTweaks is not fully supported yet unfortunately, see #68

[2019-04-12 09:48] #121 closed, assigned to nobody

[2019-05-24 20:05] #105 closed, assigned to nobody

[2019-08-09 23:12] AAA55688 commented on #96
Cannot be used on the server

[2019-10-23 14:56] ESTD3 opened #122 "Colossal Chests crashes when placing down wall blocks"
#### Issue type:

- :bug: Bug/Crash

____

#### Short description:

Was placing down colossal chests wooden wall blocks when it crashed the server. Was playing with my friend.

#### Steps to reproduce the problem:

1. Use latest Colossal Chests/Cyclops core
2. Start making 5x5 colossal chests
3.???
4. Profit - it crashes
1. ...

#### Expected behaviour:

Not to crash.
____

#### Versions:

- This

[2019-10-23 15:24] rubensworks commented on #122
Thanks for reporting, I'll look into it as soon as possible!

[2019-10-30 04:26] raziel23x opened #123 "[1.14.4] [1.7.4] Missing Textures to diamond chest"
#### Issue type:

- :bug: Bug

____

#### Short description:

Made a Diamond Version of the chest and the textures are missing

![image](https://user-images.githubusercontent.com/441966/67828987-d2882480-faab-11e9-8d46-4b9a79e709a1.png)

#### Steps to reproduce the problem:

1. ...

#### Expected behaviour:

the graphics to actually show

____

#### Versions:

- This mod: 1.7.4
- Minecraft: 1.14.4

[2019-10-30 06:55] rubensworks commented on #123
Do you also have Iron Chests installed by any chance?

[2019-10-30 12:17] raziel23x commented on #123
yes i do i have both iron chest and iron shulker boxes installed

[2019-11-04 19:29] kreezxil opened #124 "1.14.4-1.7.4 Server crashes when someone tries to upgrade or pick up a chest"
#### Issue type:

- :bug: Bug

____

#### Short description:

The mod crashes a dedicated server when a player tries to pick up a piece of the chest wall already put down, and also when they try to upgrade a complete chest.

#### Steps to reproduce the problem:

1. install [World of Dragons - A New Age ](https://www.curseforge.com/minecraft/modpacks/world-of-dragons-a-new-age)
1. join the server g

[2019-11-04 20:13] rubensworks commented on #124
Thanks for reporting, I'll look into it as soon as possible!

[2019-11-05 13:11] kreezxil commented on #124
thanks for responding. :)

On Mon, Nov 4, 2019 at 2:13 PM Ruben Taelman <notifications@github.com>
wrote:

[2019-11-15 01:32] Anuuviem opened #125 "Right-clicking incomplete chest causes server crash"
#### Issue type:

- :bug: Bug

____

#### Short description:

Direct instance, one colossal chest wall block placed, right click, crash

#### Steps to reproduce the problem:

1. Place single wall block/incomplete chest
2. Right click on block/incomplete chest
3. Presto!

#### Expected behaviour:

Nothing or text to chat saying chest is incomplete/ number of blocks needed

____

#### Versions:

- T

[2019-11-15 02:10] rubensworks commented on #125
Duplicate of #122.

[2019-11-15 02:10] #125 closed, assigned to nobody

[2019-11-20 18:15] #123 closed, assigned to nobody

[2019-11-20 18:15] #122 closed, assigned to nobody

[2019-11-20 18:15] #124 closed, assigned to nobody

[2019-11-21 20:27] WenXin20 opened #126 "Giant Chests Render Incorrectly Underwater"
#### Issue type:

- :bug: Bug

____

#### Short description:

The chest blocks renders incorrectly when placed underwater. It displays water flowing down it's sides.

#### Steps to reproduce the problem:

1. Create a chest underwater.
2. Observe water flowing down it's sides.

#### Expected behaviour:

It should instead render similarly to how a chest appears underwater.

____

#### Versions:

- `

[2019-11-22 15:12] rubensworks commented on #126
I have to wait for a Forge addition before this can be fixed: https://github.com/MinecraftForge/MinecraftForge/issues/6319

[2019-11-22 17:57] WenXin20 commented on #126
Bluepower had a workaround, it's glass had a similar issue that I reported at Qmunity/BluePower#498, if that helps any.

[2019-11-22 20:38] Anuuviem opened #127 "Crash when upgrading chest"
note, this is on a server with several other mods. the only mod reference I saw was with quark and cyclops

#### Issue type:

- Crash when upgrading chest

____

#### Short description:

When attempting to use upgrade on 2x2 chest, immediately crashes server

#### Steps to reproduce the problem:

1. build 2x2 wooden chest
2. put some inventory
3.clear space to ensure smooth upgrade to 3x3
4.forget

[2019-11-23 06:42] rubensworks commented on #127
Hmm, looks like my fix in 874a81fd79a59413286f353f78529c323f8bad50 was incomplete...

[2019-11-23 10:12] #127 closed, assigned to nobody

[2019-11-27 05:13] Gerdathlete opened #128 "Lighting issues when relogging in servers"
#### Issue type:

- :bug: Bug

____

#### Short description:

When most of a chest is covered (in my case only 6 blocks on the top face of a 3x3 are exposed) and you relog, the chest appears dark until it receives a block update.

#### Steps to reproduce the problem:

1. Make a 3x3 chest
2. Surround the chest in stone, leaving a few open spots at the top of the chest
3. Relog
4. Chest is now dark

[2019-11-27 07:20] rubensworks commented on #128
This may be a vanilla thing, will look into it.

[2019-12-21 03:58] Redd56 opened #129 "items dissapear when breaking chest"
1.14.4 branch effecting bug (may effect other branches)

Bug

1: throw items into the chest
2: now break one of the blocks and place it back
3: all your items are gone!

#### Expected behaviour:
items not to dissapear on chest breaking but either drop or get stored in teh blocks themslves

#### Versions:

- This mod: 1.7.6
- Minecraft: 1.14.4 server
- Forge: 28.1.106

[2019-12-21 07:13] rubensworks commented on #129
Can you reproduce this without any other mods installed? Because last time I tried this, this worked just fine.

[2019-12-22 06:05] Redd56 commented on #129
okay update to the issue: it seems to only be when you break the core
ill test it on its own

[2019-12-22 06:38] BottomNotch commented on #129
This just happened to me in 1.12.2 in a modpack.  I'll try to reproduce without other mods later.

[2019-12-29 14:23] rubensworks commented on #128
I can't reproduce this problem myself.
Could you try this out yourself without any other mods installed?

[2020-01-12 15:14] #129 closed, assigned to nobody

[2020-01-12 15:14] #128 closed, assigned to nobody

[2020-02-12 18:38] rubensworks commented on #126
Apparently Forge has a fix in 1.15, but not forge 1.14 (LTS), which is kind of awkward: https://github.com/MinecraftForge/MinecraftForge/commit/f93289e01c7a5a36aa8105c5ade2eb8402a6a49c

Something to keep in mind for the 1.15 port.

[2020-04-11 12:29] #126 closed, assigned to nobody

[2020-04-12 19:14] fkrisi11 opened #130 "[1.12.2] Huge lag when opening chests and looking at the inventory"
#### Issue type:
Performance issue

#### Short description:
After right clicking a bigger chest (like 20x20x20), it takes a while to actually get the GUI.
After you get the GUI, it's very laggy. (I have 1 fps in a 20x20x20 obsidian chest gui)

#### Steps to reproduce the problem:
1. Build 20x20x20 size obsidian chest
2. Open it to observe the 2 problems

#### Versions:
- This mod: ColossalChests-1

[2020-04-13 07:09] rubensworks opened #131 "JEI crash with building gadgets"
#### Issue type:

- :bug: Bug

____

#### Short description:

Open JEI and type 'chest'

#### Versions:

- This mod: 1.7.6
- Minecraft: 1.15

#### Log file:

https://pastebin.com/5PteYkVE

[2020-04-13 07:11] rubensworks commented on #130
Could you share your profiling output as described here? https://github.com/CyclopsMC/CyclopsCore/blob/master-1.12/.github/CONTRIBUTING.md#performance-issues-snail

<blockquote><img src="https://avatars2.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://git

[2020-04-13 08:19] fkrisi11 commented on #130
Where should I upload the files? GitHub says it doesn't like it

[2020-04-13 08:29] fkrisi11 commented on #130
Also... I can only run it on the server it seems, so I did that
I just need to know where to upload the file to

[2020-04-13 09:26] rubensworks commented on #130
Zipping and uploading should work.

[2020-04-13 09:45] fkrisi11 commented on #130
Ah nice. It works like this.
I hope this will be helpful in finding a solution.

What program do you use to analyze these files by the way? Just out of curiosity.
[server_sample.zip](https://github.com/CyclopsMC/ColossalChests/files/4468972/server_sample.zip)

[2020-04-13 14:23] rubensworks commented on #130
Thanks!

I use VisualVM to open nps files btw.

[2020-04-13 14:25] fkrisi11 commented on #130
I see. Thanks for that. Just wanted some insight ^^

[2020-04-14 15:12] rubensworks commented on #130
To be honest, I don't see anything abnormal in the profiling output.

Could you try without any other mods installed? Because another mod may be causing the problem.

[2020-04-14 16:04] #131 closed, assigned to nobody

[2020-04-14 18:39] fkrisi11 commented on #130
The scrolling performance is still horrible with just worldedit, jei and colossalchests installed.
But the inventory rendering itself is not as bad now with just these mods.
So I'm really not sure what causes this.

[2020-04-15 06:33] rubensworks commented on #130
Ok, then I'm closing this issue.
Should you (or anyone else) be able to provide more information that would point out this mod as the cause of the performance issue, be sure to let me know here.

[2020-04-15 06:33] #130 closed, assigned to nobody

[2020-05-08 13:02] bessiq opened #132 "Broken textures when using Iron Chests"
#### Issue type: broken texture/rendering

- :bug: Bug

____

#### Short description:
I recently built a 9x9 obsidian colossal chest. All blocks except for the core are interfaces. Unfortunately, the chest is not rendering the texture upon completion (screenshot attached). I do have Iron Chests installed. My wooden colossal chest renders properly. For what it's worth, I did build most of this ches

[2020-05-08 13:14] rubensworks commented on #132
Thanks for reporting!

[2020-05-08 20:44] Creatures-5 opened #133 "Broken textures for all chests above wooden tier"
Visual bug.
All the colossal chests other than wooden have missing texture.

#### Versions:

- ColossalChests: 1.15.2-1.7.7.jar
-IronChests: 1.15.2-10.0.3.jar

- Minecraft: 1.15.2
- Forge: 1.15.2-forge-31.1.41

[2020-05-09 06:15] rubensworks commented on #133
This is a duplicate of #132, so I'm merging this issue there.
Thanks for reporting!

[2020-05-09 06:15] #133 closed, assigned to nobody

[2020-05-09 11:48] #132 closed, assigned to nobody

[2020-05-10 04:38] ZR-00 opened #134 "SearchBar"
#### Issue type:
theres time when you just have so much stuff, you'll eventually .... dont remember where you placed something... and that something is reside inside the mahoosive collossal chest.

what im saying is, when you placed random stuff on it, it becomes a challage to find that one thing of an item , surrounded to hell with other items that you own

- :heavy_plus_sign: Feature request
kin

[2020-05-10 06:53] rubensworks commented on #134
I want this mod to remain relatively simple, so I purposely don't want to add a search bar. See #64

[2020-05-10 06:53] #134 closed, assigned to nobody

[2020-05-10 20:31] BostinTeaParty opened #135 "TNT + Chest = Crash"
#### Issue type:

- :bug: Bug
Crash
____

#### Short description:
Blowing up a colossal chest crashes the game

#### Steps to reproduce the problem:

1. ...Obtain colossal chest
2. ...Ignite tnt next to chest

#### Expected behaviour:
Game crash

Game crash
____

#### Versions:
1.15.2

_**- This mod:**_
- Minecraft:
- Forge:

#### Log file:

[2020-05-11 06:07] rubensworks commented on #135
Thanks for reporting, but could you share your crashlog please?

[2020-05-18 07:15] facetorched commented on #135
Not sure if this helps, especially since I'm on 1.14.4 but here's my crash log. I think a creeper blew up my colossal chest.

https://pastebin.com/jxFpt7LU

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/jxFpt7LU">---- Minecraft Crash Report ----  // Uh... Did I do that?    Time: 5/18/20 1:54  - Past

[2020-05-18 07:30] rubensworks commented on #135
Thanks!

[2020-06-24 18:17] #135 closed, assigned to nobody

[2020-06-28 04:55] HimitsuYami opened #136 "16x16 chest won't stay open"
#### Issue type:

- :bug: Bug

____

#### Short description:

When I open the chest with my player character more than 8 blocks away from the core the chest opens for a split second and then closes. By closes I mean both the physical chest and the GUI.

[Video showcasing the bug](https://youtu.be/D_Dqp1d09mU)

#### Steps to reproduce the problem:

1. Build chest. (in my case I built a 16x16x16 che

[2020-06-28 12:00] rubensworks commented on #136
Thanks for reporting!

[2020-06-28 15:26] HimitsuYami commented on #136
No problem. I look forward to the fix

[2020-07-08 17:38] #136 closed, assigned to nobody

[2020-07-18 22:03] SoulRacer65 opened #137 "breaking the chest's core in 1.15.2 will delete all of the items that were in the colossal chest and not drop them on the ground"
#### Issue type:

- :bug: Bug

____

#### Short description: Breaking a Colossal Chest Core deletes all contents of the chest.

#### Steps to reproduce the problem:

1. Make a Colossal Chest (2. put items in the Colossal Chest (3. break the Colossal Chest Core

#### Expected behaviour:

____Breaking the core while items are in the chest will not drop anything but the core on the ground.

#### Vers

[2020-07-19 11:22] rubensworks commented on #137
Thanks for reporting!

[2020-07-21 13:47] #137 closed, assigned to nobody

[2020-07-22 07:12] TrueDakkon opened #138 "[1.15.2] Configs Not Being Read"
Version:
---------------------
- Mod: 1.7.10
- Minecraft: 1.15.2
- Forge: 31.2.31
---------------------
Bug:
---------------------
When making adjustments to the config file and then reopening the game, none of the configurations made will be applied to the mod when in game.
Example: Changing the `metalVariants` to `false` doesn't reflect when in game. Same with changing the size limitations.
Even

[2020-07-22 09:20] rubensworks commented on #138
Thanks for reporting!

[2020-07-25 14:20] #138 closed, assigned to nobody

[2020-07-25 21:02] TrueDakkon commented on #138
Diamond and obsidian variants are still being ignored even with metalVariants set to false. Can confirm that other ones are fixed.

[2020-07-26 19:26] TrueDakkon opened #139 "metalVariants Not Recognizing Diamond/Obsidian Variants"
Diamond and obsidian variants are still being ignored even with metalVariants set to false. Can confirm that other ones are fixed.

_Originally posted by @TrueDakkon in https://github.com/CyclopsMC/ColossalChests/issues/138#issuecomment-663905741_

[2020-07-27 09:17] rubensworks commented on #139
Strictly speaking diamond and obsidian are not metals :-)
But agreed, this is not ideal.

[2020-07-30 18:23] jayschuster opened #140 "Duplication glitch with upgrading Colossal Chest"
#### Issue type:

🐛

____

#### Short description:

A very simple and easy duplication glitch with Wooden Colossal Chests

#### Steps to reproduce the problem:

1. Create a wooden Colossal Chest with 1 Interface (only tested with Wood-->Copper)
2. Create a Chest Upgrade Tool
3. Obtain 2 Copper Chest Walls, 1 Copper Chest Interface, and 1 Copper Chest Core
4. Right click the upgrade tool on the Col

[2020-07-31 06:28] rubensworks commented on #140
Oh, that's not good at all...
Thanks for reporting!

[2020-08-04 23:07] AcidaliaP opened #141 "Broken wall - not core - lost items"
Hello, if this is a duplicate feel free to delete it. I've mostly moved on so I probably won't be back, but i figured i'd drop a line. I'm playing on Roguelike Adventures and Dungeons, on a server, and breaking the chest wall led to a loss of items. Definitely left the core alone. Tried a few times with just the one item and it was consistent.

Have a good one!

[2020-08-05 12:27] rubensworks commented on #141
I assume you are not using the latest mod version, if not so, make sure to use the proper issue template.

[2020-08-05 12:27] #141 closed, assigned to nobody

[2020-08-07 09:48] #140 closed, assigned to nobody

[2020-08-07 09:48] #139 closed, assigned to nobody

[2020-08-20 22:15] ghost opened #142 "it looks weird if you finish building a chest while inside of it"
#### Issue type:

- :bug: Bug

____

#### Short description: it looks weird if you finish building a chest while inside of it

#### Steps to reproduce the problem:

1. Finish constructing a chest while inside of it

#### Expected behaviour: either suffocating or going inside the chest

____

#### Versions:

- This mod: 1.15.2
- Minecraft: 1.15.2
- Forge: 1.15.2

#### Log file:

[2020-08-21 09:15] rubensworks commented on #142
Could you share a screenshot of what you see exactly?

Suffocating is not intended behaviour in any case.

[2020-09-04 09:54] #142 closed, assigned to nobody

[2020-12-27 11:25] Void-Where-Prohibited opened #143 "Items lost"
#### Issue type:

- :bug: Bug

____

#### Short description:

#### Steps to reproduce the problem:

1. ...Created Colossal chest 4x4
2. Upgraded chest to 12x12, removing and replacing core (chest was dead center of 12x12 area initially)
3. recreated chest and items no longer in core

#### Expected behaviour:

____

#### Versions:

- This mod: 1.7.3
- Minecraft: 1.12.2
- Forge: 1.12.2

#### Log fil

[2020-12-27 11:25] rubensworks commented on #143
Thanks for reporting!

[2020-12-28 07:12] rubensworks commented on #143
This is the problem.
The core contains all chest items.
If you remove it, all items will be dropped in the world (unless disabled in the config).

[2020-12-28 07:12] #143 closed, assigned to nobody

[2021-01-04 16:11] rubensworks opened #144 "Upgrade tool not counting blocks correctly"
#### Issue type:

- :bug: Bug

____

#### Short description:

A 3x3 chest reported only requiring one core and 2 walls, and can upgrade successfully, but just with wrong block count.

____

#### Versions:

- This mod: 1.7.12
- Minecraft: 1.16.4

#### Log file:

[2021-01-04 16:12] rubensworks commented on #144
Thanks for reporting!

[2021-01-06 18:42] #144 closed, assigned to nobody

[2021-01-11 18:28] 7eggert opened #145 "Long time "waiting for server" on 1.16.4 with my mods"
#### Issue type:

- :snail: Performance issue

____

#### Short description:

Long time "waiting for server" on 1.16.4 with my mods

#### Steps to reproduce the problem:

0. have chestAnimation = false in the config
1. open a collossal chest
2. wait LONG
3. **Chest open animation happens**
____

#### Versions:

Minecraft 1.16.4 / forge 35.1.4

Basic-Nether-Ores-1.16.4.jar
Big-Buckets-1.16.4.jar
Bo

[2021-01-11 18:32] rubensworks commented on #145
Thanks for reporting!

[2021-01-11 19:42] rubensworks commented on #145
Hmm, that's unfortunate.

In that case, could you show a reproducible setup without any other mods installed, so we can make sure that this mod is actually causing the problem?

[2021-01-12 12:00] 7eggert commented on #145
I just tried only loading C' Chests and Cyclops Core; Minecraft did freeze for maybe a minute before opening the chest.

[2021-01-12 12:04] rubensworks commented on #145
Could you show a reproducible setup?

[2021-01-21 11:16] 7eggert commented on #145
I'm using Minecraft 1.16.4 on linux with Java 14. Using Java 15, my other mods do not run (nashorn library missing), but the chest does work fast.

[2021-01-21 11:21] rubensworks commented on #145
That wasn't what I was asking :-)

Could you show a reproducible setup, i.e., what type chest are you building, what is inside it, how big is it, ...

[2021-01-21 16:28] 7eggert commented on #145
Any chest works as a test. I built a 3⋅3 wood chest and opened it.

What I tested:

When I was on one PC, I could not use Java 15 (now tested: even without mods it doesn't start) so I installed Java 14 and set that as the JRE to run;

on my other PC, I copied the minecraft directory, the launcher too and I was able to run the integrated JVM (Java 15). I could run all my mods (from the same network

[2021-01-21 18:08] rubensworks commented on #145
It sounds like this occurs on just one machine. Perhaps this is just an machine-specific issue and not a mod issue?

[2021-01-21 23:19] 7eggert commented on #145
I suspect it might be a different graphics function being called depending on the java version and hardware acceleration capabilities.

If you could fix the chestAnimation = false, I could test that.

Edit: I found a lot of logspam from cyclopscore; will post tomorrow there.

[2021-01-23 13:21] 7eggert commented on #145
With the new world created for https://github.com/CyclopsMC/CyclopsCore/issues/148
Only your mods are installed:
ColossalChests-1.16.4-1.7.12.jar
CommonCapabilities-1.16.4-2.5.5.jar
CyclopsCore-1.16.4-1.9.5.jar
IntegratedCrafting-1.16.4-1.0.11.jar
IntegratedDynamics-1.16.4-1.2.0.jar
IntegratedREST-1.16.4-1.1.2.jar
IntegratedTerminals-1.16.4-1.1.1.jar
IntegratedTunnels-1.16.4-1.6.15.jar

An uncollo

[2021-01-28 12:00] 7eggert commented on #145
Update: I installed the current version of CyclopsCore and CollossalChest and the other updates from your mod; now the DISABLED animation starts immediately and the chest opens.

CyclopsCore-1.16.4-1.11.0.jar
ColossalChests-1.16.4-1.7.13.jar

[2021-01-28 12:00] #145 closed, assigned to nobody

[2021-01-28 12:04] 7eggert opened #147 "disabled animation happens"
#### Issue type:

- :bug: Bug

____

#### Short description:

Animation of chest happens even though it's disabled

#### Steps to reproduce the problem:

set in
colossalchests-common.toml

chestAnimation = false

#### Expected behaviour:

No animation
____

#### Versions:
ColossalChests-1.16.4-1.7.13.jar
CyclopsCore-1.16.4-1.11.0.jar
forge-1.16.4-35.1.37-installer.jar
- Minecraft: 1.16.4

[2021-01-28 12:04] rubensworks commented on #147
Thanks for reporting!

[2021-01-28 16:37] rubensworks commented on #147
Disabling animation seems to work just fine for me.
It's possible that you have to restart your game after changing the configs.

[2021-01-28 16:37] #147 closed, assigned to nobody

[2021-02-16 04:17] met4000 opened #148 "Broken link in README"
#### Issue type:

- :bug: Bug

____

#### Short description:

`README.md` has a broken link;
https://github.com/CyclopsMC/ColossalChests/blame/master-1.16/README.md#L10
[code]

#### Steps to reproduce the problem:

1. Go to the repo page
2. Press on the CurseForge link
3. Get sent to an old/broken CurseForge page

#### Expected behaviour:

Link directs to `https://www.curseforge.com/minecraft/mc-m

[2021-02-16 04:17] rubensworks commented on #148
Thanks for reporting!

[2021-02-16 16:29] #148 closed, assigned to nobody

[2021-02-21 08:50] dd880602 opened #149 "Server warning"
[16:40:04] [Thread-14/WARN] [colossalchests/]: Could not get version info: java.io.FileNotFoundException: https://raw.githubusercontent.com/CyclopsMC/Versions/master/1.16/ColossalChests.txt

[2021-02-21 10:28] rubensworks commented on #149
Probably not using the latest version.

[2021-02-21 10:28] #149 closed, assigned to nobody

[2021-02-21 10:28] rubensworks commented on #149
@dd880602 Your issue appears to be not following one of the allowed issue templates, which breaks our automation tools. Please update your issue to the proper template.

[2021-03-11 13:52] Phoupraw opened #150 "Optimisation for insertion and extraction"
I'm using a 9x9x9 colossal chest storing about 5000 stacks with pipe system. The TPS plunges to 0 and keeps several seconds when inserting or extracting. An optimisation for insertion and extraction, please.

[2021-03-11 13:59] rubensworks commented on #150
I assume this is a joke, so I'll be closing this.

[2021-03-11 13:59] #150 closed, assigned to nobody

[2021-06-05 12:51] set92 commented on #62
So I suppose this is open and can't be integrated no? Or there is some risky, experimental way to use it? Like some hidden config or something.

[2021-08-06 08:45] DimakSerpg opened #151 "lost all items when tried to attach interface"
for five years you couldn't make it to work properly? what a joke. are you seriously? just madness. it's like i decided to keep my money in the bank, and they just lost them lol

i'm newbie in minecraft, decided to play single play with rad modpack. and now just lost all items after hours of playing because of some bugged mod.. -___-

[2021-08-06 08:53] rubensworks commented on #151
I understand you're annoyed, but being rude to the developer that offers a mod to you at zero cost is not appreciated.
As you can see in the open list of issues, there are no known bugs, so what you are talking about is a first.
The least you could do is create a proper bug report, or even better: open a pull request to fix the bug yourself.

Reactions like this are the reason many modders stop do

[2021-08-06 08:53] #151 closed, assigned to nobody

[2021-08-06 08:58] DimakSerpg commented on #151
I googled this problem, and you know what? This problem goes from 2017... that's why i'm surprised, for five years dev didn't fixed this. I have zero knowledge in programming, but I don't think that to make a box throw away items, not just DELETE THEM, it's some kind of problem.

[2021-08-06 09:04] rubensworks commented on #151
That is clear.
So don't complain about things you don't understand (such as regressions), that is –also– really rude.

I would also suggest improving your knowledge of English grammar, as I have a hard time understanding your sentences.

And again, if you really want a fix, open a bug report, or learn to program and fix the bug yourself, instead of throwing your annoyance at me.

[2022-02-18 06:51] jstansel commented on #23
This is happening for me with the uncolossal chest in 1.18.1
Version: 1.18.1-1.8.2
Forge: 39.0.79

[2022-02-18 06:54] rubensworks commented on #23
@jstansel Could you open a new issue for this?

[2022-02-18 07:03] jstansel opened #153 "Uncolossal chest does not drop when broken"
#### Issue type:

- :bug: Bug

____

#### Short description:

Breaking the uncolossal chest in survival its so slow, with axe is a little bit faster, but still doesn't drop the chest when it breaks

#### Steps to reproduce the problem:

1. Place an uncollosal chest
2. Break it using a stone axe

#### Expected behaviour:

I expected it to break at the same speed as a vanilla chest and to drop itsel

[2022-02-18 07:04] rubensworks commented on #153
Thanks for reporting!

[2022-02-20 22:59] seriousfreezing commented on #151
Sorry to get into this discussion, but I had experienced this same situation years ago! I will never use this mod again - unless it has bugfix - I don't know why I switched from Refined Storage to Colossal Chests! I suffered with this same kind of bug, but at the time I didn't report it because I didn't remember nor wanted to do it at the time, I just gave up my map because of the loss of more tha

[2022-02-21 07:40] rubensworks commented on #151
I think you're confusing this free and open-source mod with a service you are paying for.

-----

In any case, locking this conversation before it becomes a ranting place.

For anyone else finding this issue; if you have a bug, please report it, and it will be fixed. If bugs are not reported, developers will probably not be aware of them, so fixing them is impossible them.

[2022-03-12 15:31] #153 closed, assigned to nobody

[2022-04-19 04:12] RubberDuckky opened #154 "Colossal Chests doesn't work in ATM7 1.18.2"
#### Issue type:

- :bug: Bug

____

#### Short description:

Basically when you try to load the game with these 2 mods in the mods folder, the game crashes shortly after being launched. Which brings up an error for being unable to reload tempad shaders.

#### Steps to reproduce the problem:

1. Place Colossal chests and Cyclops core mods into the mods folder

#### Expected behaviour:

Well, I exp

[2022-04-19 04:13] rubensworks commented on #154
Thanks for reporting!

[2022-04-19 06:09] rubensworks commented on #154
1.18.2 is not supported yet (but it is being worked on).

[2022-04-19 06:09] #154 closed, assigned to nobody

[2022-06-18 19:52] Gbergz opened #155 "[1.18.2] User broke colossal chest, server crashed, now in a crash loop."
#### Issue type:

- :bug: Bug

____

#### Short description:

Someone broke their Colossal Chest, server froze, crashed and now won't start again. (In a crash loop.)

#### Steps to reproduce the problem:
Not entirely sure tbh, they broke a colossal chest (they said).
Then server froze, crashed due to watchdog. (which is set to 720000).
..

#### Expected behaviour:

That the it doesn't crash.

____

[2022-06-18 19:53] rubensworks commented on #155
Thanks for reporting!

[2022-06-19 05:16] rubensworks commented on #155
Not sure how, but I think something horrible happened than breaking a colossal chest.
It looks like your chunk got horribly corrupted somehow, and MC is deadlocking when trying to load it.
No idea how such a thing could be achieved even.
Perhaps some other mod in your pack is messing with chunks and somehow broke it?

In any case, since Colossal Chests is just trying to load a tile entity here in

[2022-06-19 05:16] #155 closed, assigned to nobody